span.interaction-icon {
	display: inline-block;
	position: relative;
	content: "";
	height: 10px;
	width: 10px;
	@media (min-width: 700px) {
		height: 15px;
		width: 15px;
	}
	margin-right: 7px;
	padding: 0;
}

span.interaction-icon.like,
span.interaction-icon.likes,
span.interaction-icon.like-of {
    background-image: var(--heart-icon);
}
span.interaction-icon.repost,
span.interaction-icon.reposts,
span.interaction-icon.repost-of {
    background-image: var(--share-icon);
}
span.interaction-icon.link,
span.interaction-icon.links,
span.interaction-icon.mention-of {
    background-image: var(--link-icon);
}
span.interaction-icon.bookmark,
span.interaction-icon.bookmarks,
span.interaction-icon.bookmark-of {
    background-image: var(--bookmark-icon);
}
span.interaction-icon.reply,
span.interaction-icon.replies,
span.interaction-icon.in-reply-to {
    background-image: var(--reply-icon);
}
span.interaction-icon.arrow-up {
    background-image: var(--arrow-up-icon);
}
