.global-navigation{

    position: --webkit-sticky;
    position:          sticky;
    
    top: 0;
    
    box-sizing: border-box;
    
    z-index: 1000;

}

/* This is the main menu bar */
.navigation {
    display: grid;
    
    padding: 0;
    margin: 0;
    
    grid-template-columns: auto 1fr auto;
    grid-gap: var(--pad);
    
    align-items: center;
}

.navigation--links {
    --card-padding: 10px;
    
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    grid-column: -2 / -1;
}

.navigation--links-item {
    line-height: 32px;
    margin-inline-start: var(--pad);
    &:first-of-type {
        margin: 0;
    }
}

.navigation--wordmark {
    --card-padding: 15px;
    
    display: block;
    margin: 0;
    
    font-size: 32px;
	line-height: 32px;
}

.navigation--wordmark--link {
    position: relative;
    display: inline-block;
    
    font-size: 32px;
	line-height: 32px;
    
    font-weight: 900 !important;
    
    &:link,
    &:visited {
        color: var(--link-color);
        text-decoration: none;
    }
    &:hover {
        color: var(--link-hoverColor);
        text-decoration: underline;
    }
    &:hover:focus {
        text-decoration: underline;
		outline-offset: 3px;
    }
    &:focus {
        color: var(--link-focusColor);
        background: var(--link-focusBackground);
        outline: 3px solid var(--link-outlineColor);
		outline-offset: 0;
    }
}

.navigation--icon {
    display: grid;

    height: 40px;
    width: 40px;
    
    padding: 10px;
    margin: 0;
    
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
        
    svg {
        width: 25px;
        transform-origin: center;
        transition: 0.2s all;
    }
    
    svg path {
        fill: var(--white);
    }
    
    &:hover svg path {
        fill: var(--white);
        color: var(--white);
    }
    
    &:active svg path {
        fill: var(--brand-tint);
        color: var(--brand-tint);
    }
    
    &:focus svg path {
        fill: var(--background);
        color: var(--cyan);
    }
}

/* This is the menu page */
.navigation--menu {
    display: grid;
    grid-template-rows: auto;
}

.navigation--section {
    display: grid;
    
}

.navigation--section--header {
    text-align: left;
}

ul.navigation--section--links {
    padding: 0;
    margin: 0;
}

li.navigation--section--link {
    padding: 0;
}