.submit-webmention {
	display: grid;
	grid-area: wmForm;

	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: "label questionmark questionmark" "input input button";
	grid-gap: var(--pad);
}

.submit-webmention label.label {
	grid-area: label;
	padding: 0;
}

.submit-webmention input {
	grid-area: input;
	margin: 0;
	padding: calc(var(--pad) * 0.5)
}

.submit-webmention button.button {
	grid-area: button;
    display: flex;
    align-items: center;
    justify-content: center;
	align-self: flex-end;
	aspect-ratio: 1 / 1;
	padding: 12px;
	height: 100%;
}

.webmentions--link--whats-this {
    grid-area: questionmark;
    text-align: right;
}