article.interaction {
	padding: var(--pad) 0;
}

.interactions.counts {
	display: block;
	text-align: right;
	line-height: 1;
	padding: 0 var(--pad);
}

footer#post-footer aside.interactions {
    grid-area: webmentions;
	margin-block-end: calc(var(--pad) * 3);
}

footer#post-footer aside.interactions::before  {
	display: block;
	content: "";
	width: 100%;
	margin: calc(var(--pad) * 2) 0;
	border-radius: 7.5px;
    border: 1px solid var(--secondary-borderColor);
}

.h-entry.list .interactions.counts,
.h-entry.note .interactions.counts,
.h-entry.photo .interactions.counts {
	padding: var(--pad) var(--pad) 0;
}

.interaction-count {
	display: inline-block;
    margin: 0 0 calc(var(--pad) * 2);
	padding: 0 0 0 calc(var(--pad) * 2);
}