kbd {
    @include typography($code, "code");
    color: var(--color);
    background: var(--secondary-background);
    border-radius: 5px;
    padding:    0 5px;
    margin: 0;
    box-shadow: 0 0 var(--color), 0 0px var(--color), 0 1px var(--color), 0 2px var(--color), 0 3px var(--color), 0 4px var(--color);
    background-color: var(--background);
    color: var(--color);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--color);
    border-radius: 0.25rem;
    display: inline-block;
    text-align: left;
    transform: translate3d(0, 0, 5px);
    transform-style: preserve-3d;
    transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}

code {
    @include typography($code, "code");
    color: var(--code-color);
    background: var(--secondary-background);
    border-radius: 5px;
    padding:    0 2px;
}

pre {
    display: block;
    position: relative;

    background: var(--secondary-background);

    padding: $padding;

    margin: 0 0 22px;
    @include desktop {
        margin: 0 0 30px;
    }

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    * {
        background: none;
    }
}