body {
	position: relative;
	display: grid;

	grid-template-areas: "header" "main" "footer";
	grid-template-columns: 100vw;
	grid-template-rows: auto minmax(calc(100vh - 90px), auto) auto;
    // grid-template-rows: auto minmax(70vh, 1fr) auto;
}

body:has(.skip-link:focus) {
	grid-template-rows: auto auto minmax(calc(100vh - 90px), auto) auto;
}

#page-content,
#post-content,
.post-body {
	margin-block-end: $padding * 4;
}
