// ANIMATIONS AND VIEW TRANSITIONS

/* Enable view transitions for everyone except those who prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}


/* HEADER SCROLL DRIVEN ANIMATION */
@keyframes navigation {
    from {
        background: none;
        box-shadow: none;
        border-color: transparent;
        padding: 0 0 0 calc(var(--pad) * 0.5 * -1);
    }
}

@keyframes jiggle {
    0% {
        transform: rotate(-0.5deg);
	}
	50% {
    	transform: rotate(1deg);
	}
}

@keyframes rise-and-fall {
    0% {
        transform: translateY(5px);
	}
	100% {
    	transform: translateY(0px);
	}
}