// ANIMATIONS AND VIEW TRANSITIONS

/* Enable view transitions for everyone except those who prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}


/* HEADER SCROLL DRIVEN ANIMATION */
@keyframes global-navigation {
    from {
        top: 0;
        padding: 0;
        max-width: 100%;
    }
    to {
        top: var(--pad);
        padding: 0 var(--pad);
        max-width: 930px;
    }
}
@keyframes navigation {
    from {
        border-radius: var(--border-radius);
        border: 3px solid transparent;
        box-shadow: var(--shadow-deep--inverse);
        backdrop-filter: blur(0) contrast(1) saturate(1);
    }
    to {
        border-radius: calc(var(--border-radius) * 2);
        border: 3px solid var(--color);
        box-shadow: var(--shadow-deep);
        backdrop-filter: blur(50px) contrast(1.25) saturate(2);
    }
}