/* MARGIN OVERRIDES */
.margin {
    margin: calc(var(--pad) * var(--mult)) !important;
}

.margin-top {
    margin-top: calc(var(--pad) * var(--mult)) !important;
}

.margin-bottom {
    margin-bottom: calc(var(--pad) * var(--mult)) !important;
}

.margin-left {
    margin-left: calc(var(--pad) * var(--mult)) !important;
}

.margin-right {
    margin-right: calc(var(--pad) * var(--mult)) !important;
}