<aside class="card">
	<dl class="key-value key-value--with-value">
        <h2 class="key-value--heading key-value--heading--small">Metadata</h2>
		<span class="key-value--item key-value--with-value">
            <dt class="key-value--key">Date taken</dt>
            <dd class="key-value--value">{{ date | date: "%d %B %Y" }}</dd>
        </span>

		{% assign fields = "camera,apeture,shutter,focallength,iso" | split: "," %}
        {% assign labels = "Camera,Aperture,Shutter speed,Focal length,ISO" | split: "," %}
        
        {% for EXIF_item in EXIF %}
        {% for field in fields %}
            {% assign index = forloop.index0 %}
            {% assign value = EXIF_item[field] %}
            {% if value != "" %}
            <span class="key-value--item key-value--with-value">
                <dt class="key-value--key">{{ labels[index] }}</dt>
                <dd class="key-value--value">
                {% if field == "apeture" %}
                    {{ value | prepend: "ƒ/" }}
                {% elsif field == "shutter" %}
                    {% if value < 1 %}
                    {{ 1 | divided_by: value | round: 0 | prepend: "1/" }}
                    {% else %}
                    {{ value | round: 0 | append: '”' }}
                    {% endif %}
                {% elsif field == "focallength" %}
                    {{ value | append: "mm" }}
                {% else %}
                    {{ value }}
                {% endif %}
                </dd>
            </span>
            {% endif %}
        {% endfor %}
        {% endfor %}
	</dl>
</aside>