<footer id="site-footer" class="container">

	<aside id="author-card" class="h-card vcard p-author">
    
	    <div class="author--bio card">
		    <a class="author--photo author--photo--link" rel="me" href="https://www.johnpe.art" title="Visit my website">
                <img class="u-photo memoji" alt="A Memoji avatar of John Peart" loading="lazy" src="/assets/images/me/memoji.png">
		    </a>
		    <p class="p-name author--name"><a rel="author" class="bold no-underline p-author u-uid" href="{{ siteUrl }}"><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></a></p>
		    <p class="author--url"><a href="{{ siteUrl }}" rel="me" class="u-url no-underline">www.johnpe.art</a></p>
	    </div>
		    
	    <div class="author--icons">	
		    <div class="author-icon card mastodon">{% include "components/social-icons/mastodon.html" %}</div>
		    <div class="author-icon card bluesky">{% include "components/social-icons/bluesky.html" %}</div>
		    <div class="author-icon card linkedin">{% include "components/social-icons/linkedin.html" %}</div>
		    <div class="author-icon card github">{% include "components/social-icons/github.html" %}</div>
	    </div>
    
    </aside>

</footer>
