<footer id="site-footer">
        
    <aside id="author-card" class="container">
    
        <div id="author--bio" class="h-card vcard p-author">
            <a class="author--photo author--photo--link" rel="me" href="https://www.johnpe.art" title="Visit my website" tabindex="-1">
                <img class="u-photo hidden" alt="{{ site.avatar.alt }}" loading="lazy" src="{{ site.url | append: site.avatar.image }}">
            </a>
            
            <p class="p-name author--name"><a rel="author" class="link-secondary no-underline p-author u-uid" href="{{ siteUrl }}"><strong><span class="p-given-name">John</span> <span class="p-family-name">Peart</span></strong></a></p>
            <p class="author--url link-secondary secondary-text"><a href="{{ siteUrl }}" rel="me" class="link-secondary no-underline u-url">www.johnpe.art</a></p>
        </div>
        
        {% unless footer.social == false %}
        <div class="author--icons">	
            <div class="author-icon mastodon">{% include "components/social-icons/mastodon.html" %}</div>
            <div class="author-icon bluesky">{% include "components/social-icons/bluesky.html" %}</div>
            <div class="author-icon linkedin">{% include "components/social-icons/linkedin.html" %}</div>
            <div class="author-icon github">{% include "components/social-icons/github.html" %}</div>
            <div class="author-icon buymeacoffee">{% include "components/social-icons/buymeacoffee.html" %}</div>
        </div>
        {% endunless %}
    </aside>
        
</footer>
