{% if related %}
<aside id="related" class="card">
    
    <h1 class="key-value--heading key-value--heading--small">Related posts</h1>
    <ul class="related-posts key-value">
	{% for item in related %}
        <li class="key-value--item">
            <a class="key-value--link" href="{{ item.link }}" {% if alt %}title="{{ alt }}"{% endif %}>
                {% if item.date %}<p class="key-value--value"><time datetime="{{ item.date | date: '%Y-%m-%d'}}">{{ item.date | date: "%-d %B %Y" }}</time></p>{% endif %}
                <p class="key-value--key">{{ item.title }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>

</aside>
{% endif %}