.glass {
    background: var(--translucent);
                            
    &:before {
        display: block;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        
        height: 200%;
        width: 100%;
        content: "";
        inset: 0;
        
        background: linear-gradient(
            to bottom,
            var(--background) 0%,
            transparent 30%
        );
        
        mask-image: linear-gradient(
            to bottom,
            var(--color) 0% 50%,
            transparent 50% 100%
        );
        
        -webkit-backdrop-filter: blur(40px) saturate(120%);
                backdrop-filter: blur(40px) saturate(120%);
    }
    
    @media (min-width: 700px) {
        &:before {
            margin: 0 -50%;
            width: 200%;
        }
    }
}