:root {
    
    color-scheme: light dark;    

    --white: hsl(0, 0%, 98%);
    --absolute-white: hsl(0, 0%, 100%);

    --black: hsl(216, 11%, 9%);
    --absolute-black: hsl(0, 0%, 0%);

    --absolute: light-dark(var(--absolute-white), var(--absolute-black));

    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(230, 230, 230);
    --gray-300: rgb(205, 205, 205);
    --gray-400: rgb(190, 190, 190);
    --gray-500: rgb(170, 175, 180);
    --gray-600: rgb(140, 145, 150);
    --gray-700: rgb(70, 75, 80);
    --gray-800: rgb(50, 55, 60);
    --gray-900: rgb(30, 35, 40);
	
    --blue: rgb(0, 122, 255);
    --desaturated-blue: rgb(59, 89, 152);
    --purple: rgb(198, 67, 252);
    --magenta: rgb(230, 0, 126);
    --red-tone: rgb(177, 14, 30);
    --red:  hsl(353, 96%, 56%);
    --red-tint: hsl(355, 84%, 88%);
    --red-tone:  hsl(353, 96%, 40%);
    --orange-tint: rgb(255, 205, 183);
    --orange: rgb(255, 79, 0);
    --orange-tone: rgb(200, 63, 0);
    --yellow: rgb(255, 215, 0);
    --green-tone: rgb(4, 80, 9);
    --green: rgb(74,159,101);
    --green-tint: rgb(116, 190, 139);
    --cyan: hsl(198, 100%, 45%);
    --cyan-tint: hsl(198, 100%, 60%);
    --cyan-tone: hsl(198, 100%, 30%);
    
    --brand-tint: var(--cyan-tint);
    --brand-tone: var(--cyan-tone);
    --brand: var(--cyan);
	
    --color: light-dark(var(--black), var(--white));
    --color--inverse: light-dark(var(--white), var(--black));
    
    --background: light-dark(var(--white), var(--black));
    --background--inverse: light-dark(var(--black), var(--white));
    --background--translucent: light-dark(hsla(0, 0%, 98%, 0.5), hsla(216, 11%, 9%, 0.5));

    --secondary-background: light-dark(var(--gray-100), var(--gray-900));
    --secondary-hoverBackground: light-dark(var(--gray-300), var(--gray-700));
    --secondary-borderColor: light-dark(var(--gray-300), var(--gray-700));
    --secondary-color: light-dark(var(--gray-600), var(--gray-500));
}
