// COLOUR PALETTE
// All colours used should be referenced here
:root {
    
    color-scheme: light dark;    

    // Colour palette
    --white: rgb(250, 250, 250);
    --absolute-white: rgb(255, 255, 255);

    --black: rgb(20, 22, 25);
    --absolute-black: rgb(0, 0, 0);

    --absolute: light-dark(var(--absolute-white), var(--absolute-black));

    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(220, 220, 220);
    --gray-300: rgb(205, 205, 205);
    --gray-400: rgb(190, 190, 190);
    --gray-500: rgb(170, 175, 180);
    --gray-600: rgb(140, 145, 150);
    --gray-700: rgb(70, 75, 80);
    --gray-800: rgb(50, 55, 60);
    --gray-900: rgb(30, 35, 40);
	
	--shadow-1: 	light-dark(rgba(0,0,0,0.12), rgba(0,0,0,0.12));
	--shadow-1B: 	light-dark(rgba(0,0,0,0.24), rgba(0,0,0,0.24));
	--shadow-2:		light-dark(rgba(0,0,0,0.16), rgba(0,0,0,0.16));
	--shadow-2B: 	light-dark(rgba(0,0,0,0.23), rgba(0,0,0,0.23));
	--shadow-3:		light-dark(rgba(0,0,0,0.19), rgba(0,0,0,0.19));
	--shadow-3B: 	light-dark(rgba(0,0,0,0.23), rgba(0,0,0,0.23));
	--shadow-4:		light-dark(rgba(0,0,0,0.25), rgba(0,0,0,0.25));
	--shadow-4B:	light-dark(rgba(0,0,0,0.22), rgba(0,0,0,0.22));
	--shadow-5:		light-dark(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	--shadow-5B:	light-dark(rgba(0,0,0,0.22), rgba(0,0,0,0.22));

    --blue: rgb(0, 122, 255);
    --desaturated-blue: rgb(59, 89, 152);
    --purple: rgb(198, 67, 252);
    --magenta: rgb(230, 0, 126);
    --red-tone: rgb(177, 14, 30);
    --red:  rgb(250, 36, 60);
    --red-tint: rgb(250, 196, 201);
    --orange: rgb(255, 94, 58);
    --yellow: rgb(255, 215, 0);
    --green-tone: rgb(4, 80, 9);
    --green: rgb(11, 211, 24);
    --green-tint: rgb(186, 251, 191);
    --cyan: rgb(0, 159, 227);
    --cyan-tint: rgb(0, 123, 176);
    
    --gb-power: rgb(74,159,101);    
    
    --gb-shell--stroke: light-dark(rgb(40,40,40), rgb(175,175,175));
    --gb-shell--fill: light-dark(rgb(50,50,50), rgb(220,220,220));
    
    --gb-lens--fill-1: light-dark(rgb(20,20,20), rgb(170,170,170));
    --gb-lens--fill-2: light-dark(rgb(180,180,180), rgb(150,150,150));
    --gb-lens--fill-3: light-dark(rgb(65,65,65), rgb(205,205,205));
    --gb-lens--fill-4: light-dark(rgb(0,0,0), rgb(220,220,220));
    
    --gb-dpad--fill-1: light-dark(rgb(15,15,15), rgb(215,215,215));
    --gb-dpad--fill-2: light-dark(rgb(0,0,0), rgb(170,170,170));
    --gb-dpad--fill-3: light-dark(rgb(20,20,20), rgb(155,155,155));
    --gb-dpad--fill-4: light-dark(rgb(130,130,130), rgb(255,255,255));
    --gb-dpad--fill-5: light-dark(rgb(50,50,50), rgb(225,225,225));
    --gb-dpad--stroke-1: light-dark(rgb(40,40,40), rgb(190,190,190));
    --gb-dpad--stroke-5: light-dark(rgb(40,40,40), rgb(210,210,210));
    
    --gb-start-select--fill-1: light-dark(rgb(15,15,15), rgb(170,170,170));
    --gb-start-select--fill-2: light-dark(rgb(130,130,130), rgb(210,210,210));
    --gb-start-select--fill-3: light-dark(rgb(50,50,50), rgb(225,225,225));
    --gb-start-select--stroke-1: light-dark(rgb(40,40,40), rgb(210,210,210));
    --gb-start-select--stroke-2: light-dark(transparent, rgb(255,255,255));
    --gb-start-select--stroke-3: light-dark(rgb(40,40,40), rgb(225,225,225));
    
    --gb-abxy--fill-1: light-dark(rgb(0,0,0), rgb(170,170,170));
    --gb-abxy--fill-2: light-dark(rgb(120,120,120), rgb(255,255,255));
    --gb-abxy--fill-3: light-dark(rgb(50,50,50), rgb(210,210,210));
    --gb-abxy--fill-4: light-dark(rgb(50,50,50), rgb(225,225,225));
    --gb-abxy--stroke-1: light-dark(rgb(40,40,40), rgb(215,215,215));
    --gb-abxy--stroke-2: light-dark(rgb(40,40,40), rgb(215, 215,215));
    --gb-abxy--stroke-3: light-dark(rgb(40,40,40), rgb(225,225,225));
    --gb-abxy--stroke-4: light-dark(transparent, rgb(225,225,225));

    --post-it--yellow: rgb(255, 215, 0);
    --post-it--yellow--top: rgb(250, 211, 0);
    --post-it--yellow--corner: rgb(255, 241, 168);
    
    --post-it--cyan: rgb(100, 159, 227);
    --post-it--cyan--top: rgb(91, 154, 225);
    --post-it--cyan--corner: rgb(143, 186, 235);
    
    --post-it--green: rgb(215, 237, 108);
    --post-it--green--top:  rgb(211, 232, 106);
    --post-it--green--corner:  rgb(232, 255, 116);
    
    --post-it--magenta: rgb(230, 69, 158);
    --post-it--magenta--top:  rgb(222, 66, 152);
    --post-it--magenta--corner:  rgb(255, 128, 198);
	
    // Element colours
    --background: light-dark(var(--white), var(--black));
    
    --translucent-background: light-dark(rgba(240, 240, 240, 0.7), rgba(30, 35, 40, 0.5));
    --glass-background: light-dark(rgba(250, 250, 250, 0.6), rgba(29, 29, 29, 0.6));
    --glass-border: light-dark(rgba(255, 255, 255, 0.5), rgba(100, 100, 100, 0.3));
    --plastic-shadow-1: light-dark(var(--gray-300), var(--absolute-black));
    --plastic-shadow-2: light-dark(var(--absolute-white), var(--gray-900));
    
    --color: light-dark(var(--black), var(--white));
    --markerpen-color: var(--black);
    --strikethrough-color: var(--red);
    
    --secondary-background: light-dark(var(--gray-200), var(--gray-800));
    --secondary-hoverBackground: light-dark(var(--gray-300), var(--gray-700));
    --secondary-borderColor: light-dark(var(--gray-300), var(--gray-700));
    --secondary-color: light-dark(var(--gray-600), var(--gray-500));
    
    --code-color: light-dark(var(--green-tone), var(--green));
    --radio-color: var(--cyan);

    --link-color: var(--color);
    --link-hoverColor: var(--cyan);
    --link-focusBackground: var(--cyan);
    --link-focusColor: light-dark(var(--white), var(--black));
    --link-outlineColor: var(--cyan);
    --link-secondary-color: light-dark(var(--gray-600), var(--gray-500));

    --button-color: var(--background);
    --button-background: var(--cyan);
    --button-hoverColor: var(--cyan);
	--button-hoverBackground: var(--background);
	--button-border: var(--cyan);

    --details--hoverColor: var(--cyan);
    --details--hoverBackground: var(--absolute-white);
    --details--outlineColor: var(--cyan);

    --blockquote-background: var(--secondary-background);

    --dl--background: var(--secondary-background);
    --dl--hoverBackground: var(--secondary-hoverBackground);
    --dl--borderColor: var(--secondary-borderColor);

    --form--color: var(--color);
    --form--activeColor: var(--link-focusColor);
    --form--activeBackground: var(--link-focusBackground);
    --form--focusBorderColor: var(--link-focusBackground);

    --placeholder-text-color: var(--secondary-color);--placeholder-text-hoverColor: var(--cyan);

    --form--focusBackground: var(--color);
    --labelHint-color: var(--gray-600);

    --progress-barBackground: var(--cyan);
    --progress-barSecondaryBackground: var(--purple);

    --icon-background: var(--gray-600);
    --icon-hoverBackground: var(--cyan);

    --speechBubble-fromMeColor: var(--white);
    --speechBubble-fromMeBackground: var(--cyan);
    --speechBubble-fromMeLinkColor: var(--white);
	--speechBubble-fromMeLinkFocusColor: var(--cyan);
    --speechBubble-fromMeLinkBackground: var(--white);

    --speechBubble-fromThemColor: light-dark(var(--black), var(--black));
    --speechBubble-fromThemBackground: light-dark(var(--gray-100), var(--gray-300));
    --speechBubble-fromThemLinkColor: var(--black);
    --speechBubble-fromThemLinkBackground: var(--cyan);
    
    --caret-color: var(--cyan);

    --skiplink-color: light-dark(var(--white), var(--black));
    --skiplink-background: var(--cyan);
    
}
