:root {
    --shadow-color:     var(--color);
    --shadow-shallow:   0px 3px 0px var(--shadow-color);
    --shadow-deep:      0px 5px 0px var(--shadow-color); 
    --shadow-deep--inverse:     0px 5px 0px transparent;  
    
    --text-shadow--color: light-dark(rgba(255,255,255,0.5), rgba(0,0,0,0.5));  
}
