// FONTS
// Font face
$font-family-default: "JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
// Font face – Marker pen
$font-family-postitnote: "Permanent Marker", 'Segoe Print', 'Marker Felt', Chilanka, TSCu_Comic, casual, cursive;

// <p>, <li>, etc.
$p: (
    "font-size": (
        "mobile": 22px,
        "tablet": 24px,
        "desktop": 30px
    ),
    "line-height": (
        "mobile": 1.25,
        "tablet": 1.25,
        "desktop": 1.2
    )
);

// <p>, <li>, etc.
$small: (
    "font-size": (
        "mobile": 18px,
        "tablet": 20px,
        "desktop": 24px
    )
);

// <p class="lead">
$lead: (
    "font-size": (
        "mobile": 26px,
        "tablet": 32px,
        "desktop": 43px
    ),
    "line-height": (
        "mobile": 1.25,
        "tablet": 1.25,
        "desktop": 1.2
    )
);

// loop titles
$large: (
    "font-size": (
        "mobile": 26px,
        "tablet": 30px,
        "desktop": 36px
    ),
    "line-height": (
        "mobile": 33px,
        "tablet": 38px,
        "desktop": 44px
    )
);

// <h1>
$h1: (
    "font-size": (
        "mobile": 45px,
        "tablet": 60px,
        "desktop": 75px
    ),
    "padding": (
        "mobile": 0 0 45px,
        "tablet": 0 0 60px,
        "desktop": 0 0 75px
    )
);

// <h1 class="display">
$hello: (
    "font-size": (
        "mobile": 66px,
        "tablet": 120px,
        "desktop": 164px
    ),
    "padding": (
        "mobile": 90px 0 15px 0,
        "tablet": 150px 0 15px 0,
        "desktop": 240px 0 15px 0
    )
);

// <h1 class="display">
$calendar: (
    "font-size": (
        "mobile": 120px,
        "tablet": 150px,
        "desktop": 170px
    ),
    "padding": (
        "mobile": 0,
        "tablet": 0,
        "desktop": 0
    ),
    "line-height": (
        "mobile": 1,
        "tablet": 1,
        "desktop": 1
    )
);

// <h1 class="page-title">
$page-title: (
    "font-size": (
        "mobile": 66px,
        "tablet": 80px,
        "desktop": 120px
    ),
    "padding": (
        "mobile": 90px  0 15px 0,
        "tablet": 120px 0 45px 0,
        "desktop": 150px 0 45px 0
    )
);

// <h2>
$h2: (
    "font-size": (
        "mobile": 27px,
        "tablet": 32px,
        "desktop": 40px
    ),
    "padding": (
        "mobile": 54px 0 27px,
        "tablet": 64px 0 64px,
        "desktop": 80px 0 40px
    )
);

// <h2>
$card-title: (
    "font-size": (
        "mobile": 27px,
        "tablet": 32px,
        "desktop": 40px
    ),
    "padding": (
        "mobile": 15px,
        "tablet": 15px,
        "desktop": 15px
    )
);

// <h2 class="loop-header">
$loop-header: (
    "font-size": (
        "mobile": 30px,
        "tablet": 40px,
        "desktop": 50px
    ),
    "padding": (
        "mobile": 93px 15px 15px 15px,
        "tablet": 47px 0 58px 0,
        "desktop": 47px 0 68px 0
    )
);

// <h3>
$h3: (
    "font-size": (
        "mobile": 24px,
        "tablet": 30px,
        "desktop": 35px
    ),
    "padding": (
        "mobile": 22px 0 15px,
        "tablet": 26px 0 18px,
        "desktop": 30px 0 20px
    )
);

// <h4>
$h4: (
    "font-size": (
        "mobile": 22px,
        "tablet": 26px,
        "desktop": 30px
    ),
    "padding": (
        "mobile": 0 0 11px,
        "tablet": 0 0 11px,
        "desktop": 0 0 15px
    )
);

// <h5>
$h5: (
    "font-size": (
        "mobile": 22px,
        "tablet": 26px,
        "desktop": 30px
    ),
    "padding": (
        "mobile": 22px 0,
        "tablet": 26px 0,
        "desktop": 30px 0
    )
);

// aside.post-published-date p
$post-date: (
    "font-size": (
        "mobile": 26px,
        "tablet": 34px,
        "desktop": 42px
    )
);

// <pre>, <code>, <kbd>
$code: (
    "font-size": (
        "mobile": 21px,
        "tablet": 23px,
        "desktop": 26px
    ),
    "line-height": (
        "mobile": 1.25,
        "tablet": 1.25,
        "desktop": 1.25
    )
);

// Marker pen typeface
// <p>
$marker: (
    "font-size": (
        "mobile": 26px,
        "tablet": 32px,
        "desktop": 44px
    ),
    "padding": (
        "mobile": 0 0 26px 0,
        "tablet": 0 0 32px 0,
        "desktop": 0 0 44px 0
    ),
);

// Marker pen typeface
// <p>
$marker-small: (
    "font-size": (
        "mobile": 26px,
        "tablet": 26px,
        "desktop": 32px
    ),
    "padding": (
        "mobile": 0 0 26px 0,
        "tablet": 0 0 32px 0,
        "desktop": 0 0 44px 0
    ),
);


// p,
// li {
//     font-size: clamp(22px, 4vw, 30px);
//     line-height: clamp(1.25, 1.2vw + 1, 1.2);
// }
// 
// .small {
//     font-size: clamp(18px, 3.6vw, 24px);
// }
// 
// .lead {
//     font-size: clamp(26px, 6.8vw, 43px);
//     line-height: clamp(1.25, 1.2vw + 1, 1.2);
// }
// 
// .large {
//     font-size: clamp(26px, 5.6vw, 36px);
//     line-height: clamp(33px, 6vw, 44px);
//     padding: clamp(33px, 7vw, 44px) 0;
// }
// 
// h1,
// .h1 {
//     font-size: clamp(45px, 6vw, 75px);
//     padding: 0 0 clamp(45px, 6vw, 75px);
// }
// 
// .h1.display {
    // font-size: clamp(66px, 9.6vw, 164px);
    // padding: clamp(90px, 14vw, 240px) 0 clamp(15px, 3vw, 15px) 0;
// }
// 
// .calendar {
//     font-size: clamp(120px, 10vw, 170px);
//     padding: 0;
//     line-height: 1;
// }
// 
// .page-title {
//     font-size: clamp(66px, 8.4vw, 120px);
//     padding: clamp(90px, 12vw, 150px) 0 clamp(15px, 4vw, 45px) 0;
// }
// 
// h2,
// .h2 {
//     font-size: clamp(27px, 6.4vw, 40px);
//     padding: clamp(54px, 7vw, 80px) 0 clamp(27px, 4vw, 40px);
// }
// 
// .card-title {
//     font-size: clamp(27px, 6.4vw, 40px);
//     padding: 15px;
// }
// 
// .loop-header {
//     font-size: clamp(30px, 8vw, 50px);
//     padding: clamp(93px, 14vw, 93px) clamp(15px, 3vw, 15px) clamp(15px, 3vw, 15px);
//     line-height: clamp(0.8, 2vw + 0.2, 0.8);
// }
// 
// h3 {
//     font-size: clamp(24px, 5.6vw, 35px);
//     padding: clamp(22px, 4.8vw, 30px) 0 clamp(15px, 3vw, 20px);
// }
// 
// h4 {
//     font-size: clamp(22px, 4.8vw, 30px);
//     padding: 0 0 clamp(11px, 2vw, 15px);
// }
// 
// h5 {
//     font-size: clamp(22px, 4.8vw, 30px);
//     padding: clamp(22px, 4.8vw, 30px) 0;
// }
// 
// .post-date {
//     font-size: clamp(26px, 6.4vw, 42px);
// }
// 
// pre,
// code,
// kbd {
//     font-size: clamp(21px, 3.8vw, 26px);
//     line-height: 1.25;
// }
// 
// .marker {
//     font-size: clamp(26px, 6.4vw, 44px);
//     padding: 0 0 clamp(26px, 6vw, 44px) 0;
// }
// 
// .marker-small {
//     font-size: clamp(26px, 5.6vw, 32px);
//     padding: 0 0 clamp(26px, 6vw, 44px) 0;
// }
