{% if mention.author and mention.author.name.size > 0 %}
    {% assign isMe = mention.author.name == 'John Peart' %}
    
    {% if isMe %}
        {% assign authorURL = 'https://www.johnpe.art' %}
        {% assign authorName = 'John Peart' %}
        {% assign authorPhoto = site.url | append: site.avatar.image %}
        {% assign from = "from-me" %}
    {% else %}
        {% assign authorURL = mention.author.url %}
        {% assign authorName = mention.author.name %}
        {% assign from = "from-them" %}
        
        {% assign authorPhoto = mention.author.photo %}
        {% if authorPhoto contains ".svg" or authorPhoto == "" %}
            {% assign authorPhoto = authorName | url_encode | prepend: 'https://ui-avatars.com/api/?name=' %}
        {% endif %}
    {% endif %}
    
    {%- capture author -%}
        {%- if authorURL.size > 0 -%}<a href="{{ authorURL }}" class="link-secondary" rel="nofollow">{%- endif -%}
        {{ authorName }}
        {%- if authorURL.size > 0 -%}</a>{%- endif -%}
    {%- endcapture -%}
{% else %}
    {% assign authorName = 'someone' %}
    {% assign from = "from-them" %}
    {% capture author %}someone{% endcapture %}
{% endif %}