<footer class="interactions replies">
    
    <aside class="interactions replies">
      
      {% for mention in webmentions %}
        
        {% if mention.wm-target == current_url %}
            {% assign contentLength = mention.content.text | number_of_words %}
            
            {% if mention.wm-property == "in-reply-to" or mention.wm-property == "mention-of" and contentLength > 0 %}
        
                {% if mention.author %}
                    {% if mention.author.name.size > 0 %}
                        {% if mention.author.name == 'John Peart' %}
                            {% assign authorURL = 'https://www.johnpe.art' %}
                            {% assign authorName = 'John Peart' %}
                            {% assign authorPhoto = '/assets/images/me/avatar.png' %}
                            {% assign from = "from-me" %}
                        {% else %}
                            {% assign authorURL = mention.author.url %}
                            {% assign authorName = mention.author.name %}
                            {% assign authorPhoto = false %}
                            {% assign from = "from-them" %}
                        {% endif %}
                        {%- capture author -%}{%- if authorURL.size > 0 -%}<a href="{{ authorURL }}" class="link-secondary" rel="nofollow">{%- endif -%}{{ authorName }}{%- if authorURL.size > 0 -%}</a>{%- endif -%}{%- endcapture -%}
                    {% endif %}
                {% else %}
                    {% assign authorName = 'someone' %}
                    {% assign from = "from-them" %}
                    {% capture author %}someone{% endcapture %}
                {% endif %}
            
                {%- if mention.wm-property == "in-reply-to" -%}
                    {% assign verb = 'replied' %}
                {%- elsif mention.wm-property == "mention-of" -%}
                    {% assign verb = 'mentioned' %}
                {% else %}
                    {% assign verb = 'wrote' %}
                {%- endif -%}
                        
                <article id="webmention-{{ mention.wm-id }}" class="speech-bubbles speech-bubbles--{{ from }} {% if authorPhoto == false %}speech-bubbles--no-photo{% endif %} p-comment webmention--{{ mention.wm-property }}">
                    <aside class="speech-bubbles--author secondary-text secondary-text--gray">
                        On <time datetime="{{ mention.wm-received | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ mention.wm-received | date: '%d %B %Y' }}</time>, {{ author }}{% if mention.wm-source %} <a href="{{ mention.wm-source }}" class="link-secondary" rel="nofollow">{% endif -%}{{ verb }}{% if mention.wm-source %}</a>{% endif -%}
                    </aside>
                    <section class="speech-bubbles--content p-content">
                        {% if contentLength > 100 %}
                            {{ mention.content.text | strip_html | replace: current_url, "" | truncatewords: 50, "…" | markdownify | replace: '<p>', speechBubble }}
                        {% else %}
                            {{ mention.content.text | strip_html | replace: current_url, "" | replace: title, "" | replace: "????", "" | replace: "???", "" | markdownify | replace: '<p>', '<p class="speech-bubble">' }}
                        {% endif %}
                    </section>
                    {% if authorPhoto != false %}
                    <section class="speech-bubbles--speaker">
                        <img class="u-photo" alt="{{ authorName }}'s avatar" src="{{ authorPhoto }}">
                    </section>
                    {% endif %}
                </article>
            
            {% endif %}
        {% endif %}
    {% endfor %}
      
    </aside>
    
</footer>