{% assign current_url = page.url | prepend: site.url %}
{% assign webmentions = webmentions.children | reverse %}

{% comment %} Build array of all valid URLs for this page {% endcomment %}
{% assign valid_urls = "" | split: "" %}
{% assign valid_urls = valid_urls | push: current_url %}

{% for alias in aliases %}
    {% assign alias_url = alias | prepend: site.url %}
    {% assign valid_urls = valid_urls | push: alias_url %}
{% endfor %}

{% comment %} Create filtered array of webmentions for this page {% endcomment %}
{% assign page_webmentions = "" | split: "" %}
{% for mention in webmentions %}
    {% if valid_urls contains mention.wm-target %}
        {% assign page_webmentions = page_webmentions | push: mention %}
    {% endif %}
{% endfor %}

<footer id="post-footer" class="grid interactions replies">
{% if page_webmentions.size > 0 %}
    <aside class="interactions">
        {% for mention in page_webmentions %}
            {% case mention.wm-property %}
                {% when "in-reply-to" %}
                    {% assign verb = 'replied' %}
                    {% assign show_content = true %}
                {% when "repost-of" %}
                    {% assign verb = "shared" %}
                    {% assign show_content = false %}
                {% when "mention-of" %}
                    {% assign verb = "mentioned" %}
                    {% assign show_content = true %}
                {% when "like-of" %}
                    {% assign verb = "liked" %}
                    {% assign show_content = false %}
                {% when "bookmark-of" %}
                    {% assign verb = "bookmarked" %}
                    {% assign show_content = false %}
                {% else %}
                    {% assign verb = "interacted with" %}
                    {% assign show_content = false %}
            {% endcase %}
            
            {% if show_content %}
                {% assign contentLength = mention.content.text | number_of_words %}
                {% if contentLength > 0 %}
                    {% include "components/webmentions/author.html" mention: mention %}
                    {% include "components/webmentions/speech-bubble.html" mention: mention, verb: verb %}                            
                {% endif %}
            {% else %}
                {% include "components/webmentions/interaction.html" mention: mention, verb: verb %}
            {% endif %}
        {% endfor %}
    </aside>
    <div id="webmentions-footer" class="grid full-width">
        {% include "components/webmentions/form.html" %}    
    </div>
{% else %}    
    <div id="webmentions-footer" class="grid full-width">
        {% include "components/webmentions/form.html" %}    
    </div>
{% endif %}
</footer>
