{% assign current_url = page.url | prepend: site.url %}
{% assign webmentions = webmentions.children | reverse %}

{% assign in-reply-to = 0 %}
{% assign like-of = 0 %}
{% assign repost-of = 0 %}
{% assign bookmark-of = 0 %}

{% for mention in webmentions %}
    {% if mention.wm-target == current_url %}
        {% if mention.wm-property == "in-reply-to" or mention.wm-property == "mention-of" %}
            {% assign in-reply-to = in-reply-to | plus: 1 %}
        {% endif %}
        {% if mention.wm-property == "like-of" %}
            {% assign like-of = like-of | plus: 1 %}
        {% endif %}
        {% if mention.wm-property == "repost-of" %}
            {% assign repost-of = repost-of | plus: 1 %}
        {% endif %}
        {% if mention.wm-property == "bookmark-of" %}
            {% assign bookmark-of = bookmark-of | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<footer class="speech-bubbles--webmentions interactions counts">
    <span class="interaction-count"><span class="interaction-icon in-reply-to"></span>{{ in-reply-to }}</span>
    <span class="interaction-count"><span class="interaction-icon like-of"></span>{{ like-of }}</span>
    <span class="interaction-count"><span class="interaction-icon repost-of"></span>{{ repost-of }}</span>
    <span class="interaction-count"><span class="interaction-icon bookmark-of"></span>{{ bookmark-of }}</span>
</footer>