---
---
{% assign opengraph-title = post.data.title %}
{%- if type == 'home' %} 
    {% assign opengraph-layout = 'no-site-title' %}
{%- elsif  pagination.data == 'collections.page' %}
    {% assign opengraph-layout = 'image-only' %}
    {% if page.url contains 'social/search' %}
        {% assign image = '/assets/images/site/search.svg' %}
        {% assign background = 'yellow' %}
    {% elsif page.url contains 'social/notes' %}
        {% assign image = '/assets/images/site/notes.svg' %}
        {% assign background = 'magenta' %}
    {% elsif page.url contains 'social/weeknotes' %}
        {% assign image = '/assets/images/site/weeknotes.svg' %}
        {% assign background = 'blue' %}
    {% elsif page.url contains 'social/games' %}
        {% assign image = '/assets/images/site/games.svg' %}
        {% assign background = 'green' %}
    {% elsif page.url contains 'social/music' %}
        {% assign image = '/assets/images/site/music.svg' %}
        {% assign background = 'yellow' %}
    {% elsif page.url contains 'social/photos' %}
        {% assign image = '/assets/images/site/photos.svg' %}
        {% assign background = 'magenta' %}
    {% elsif page.url contains 'social/lists' %}
        {% assign image = '/assets/images/site/lists.svg' %}
        {% assign background = 'red' %}
        {% assign image-style = 'padding: 0; align-content: end;' %}
    {% elsif page.url contains 'social/wishlist' %}
        {% assign image = '/assets/images/site/wishlist.svg' %}
        {% assign background = 'yellow' %}
    {% elsif page.url contains 'social/goals' %}
        {% assign image = '/assets/images/site/goals.svg' %}
        {% assign background = 'blue' %}
    {% else %}
        {% assign opengraph-layout = 'title-only' %}
        {% assign opengraph-title-class = "title--large" %}
    {% endif %}
{%- elsif   pagination.data == 'collections.blogpost' %}
    {%- if post.data.image.file %} 
        {% assign opengraph-layout = 'title-with-image' %}
        {% assign image = post.data.image.file %}
        {% assign background = post.data.image.bg %}
    {% else %}
        {% assign opengraph-layout = 'title-only' %}
    {% endif %}
{%- elsif pagination.data == 'collections.game' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "green" %}
{%- elsif pagination.data == 'collections.music' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "yellow" %}
{%- elsif pagination.data == 'collections.note' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "magenta" %}
{%- elsif pagination.data == 'collections.weeknote' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "magenta" %}
{%- elsif pagination.data == 'collections.list' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "red" %}
{%- elsif pagination.data == 'collections.photo' %}
    {% assign opengraph-layout = 'image-only' %}
    {% assign background = "magenta" %}
{%- elsif pagination.data == 'collections.goal' %}
    {% assign image = '/assets/images/site/goals.svg' %}
    {% assign background = "blue" %}
{%- elsif pagination.data == 'collections.share' %}
    {% assign opengraph-title = post.data.reply_to.post.title %}
    {% assign opengraph-layout = 'title-with-tag' %}
    {% assign tag = 'Repost' %}
{%- elsif pagination.data == 'collections.reply' %}
    {% assign opengraph-layout = 'title-with-speech-bubbles' %}
    {% assign opengraph-title = post.data.reply_to.post.title %}
    {% assign tag = 'Reply' %}
{%- elsif page.url contains 'social/error' %}
    {% assign image = '/assets/images/site/error.svg' %}
    {% assign background = 'white' %}
    {% assign opengraph-title = "Page not found" %}
    {% assign opengraph-title-class = "title--medium" %}
{%- elsif post.data.image.file %} 
    {% assign opengraph-layout = 'image-only' %}
    {% assign image = post.data.image.file %}
    {% assign background = post.data.image.bg %}
{% endif -%}


<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta name="robots" content="noindex,nofollow" />
    	<link rel="stylesheet" href="/assets/styles/opengraph.css">
    </head>

    <body class="
        {{- pagination.data | slugify }}
        {{ opengraph-layout -}}
    ">
        <div id="opengraph">
            
            {%  unless   opengraph-layout == 'title-only' 
                or       opengraph-layout == 'title-with-tag'
                or       opengraph-layout == 'title-with-speech-bubbles' %}
            <div id="opengraph--image" style="--bg: var(--{{ background }}); {{ image-style }}">
                {%- if type == 'home' %} 
                    <img src="/assets/images/me/me.svg" class="align-bottom" style="{% unless type == 'home' %}max-height: 450px; {% else %}max-height: 500px;{% endunless %}">
                {% elsif pagination.data == 'collections.weeknote' %}
                <aside class="calendar">
                    <div class="calendar-board">
                        <div class="calendar-sheet">
                                <span class="calendar-month">{{- post.data.date | date: "%B" | truncate: 3, "" -}}</span>
                                <span class="calendar-date">{{- post.data.date | date: "%d" -}}</span>
                                <span class="calendar-collection">Weeknote</span>
                        </div>
                    </div>
                </aside>
                {% elsif pagination.data == 'collections.game' %}
                    {% include "components/objects/{{ post.data.platform | downcase | slugify }}.svg" %}  
                {% elsif pagination.data == 'collections.music' %}
                    {% include "components/objects/ipod-nano.svg" %}
                {% elsif pagination.data == 'collections.note' %}
                    <h1 class="p-name post-it {{ post.data.colour | default: 'yellow' }}">{{ post.data.title }}</h1>
                {% elsif pagination.data == 'collections.list' %}
                    <header class="collection--list post-title" style="margin: 0 auto;">
                        <header class="list-header">
                            <h1 class="list-title p-name">{{ post.data.title }}</h1>
                        </header>
                        <ul class="list-body">
                            {% for item in post.data.list %}
                                <li class="list-item list-item--{{ item.status }}">{{ item.item }}</li>
                            {% endfor %}
                        </ul>
                    </header>
                {% elsif pagination.data == 'collections.photo' %}
                    <header class="photo post-title" style="margin: auto;">
                        <div class="polaroid">
                            <img src="{{ siteUrl | append: '/assets/images' | append: post.data.image }}" loading="lazy">
                            <h1 class="photo--title p-name">{{ post.data.title }}</h1>
                        </div>
                    </header>
                {% elsif image %}
                    <img    
                        class="contain"
                        style="{{ image-style }}"
                        src="{{ image }}" 
                    >
                {% else %}
                    <img src="/assets/images/me/me.svg" class="align-bottom" style="{% unless type == 'home' %}max-height: 450px; {% else %}max-height: 500px;{% endunless %}; margin-bottom: -15px;">
                {% endif %}
            </div>
            {% endunless %}
            
            {% unless type == 'home' %}
            <div id="opengraph--site-title">
                <p class="subtitle">John Peart</p>
            </div>
            {% endunless %}
            
            {% if tag %}
            <div id="opengraph--tag">
                <p class="subtitle">{{ tag }}</p>
            </div>
            {% endif %}
            
            {% unless opengraph-layout == 'image-only' %}
            <div id="opengraph--page-title">
                {% if opengraph-layout == 'no-site-title' %}
                    <h1 class="title title--large" style="margin-left: -15px;">Hello.</h1>
                    <p class="lead">I'm John Peart.</p>
                {% elsif opengraph-layout == 'title-with-half-image' %}
                    <p class="subtitle">Repost</p>
                    <h1 class="title {{ opengraph-title-class }}">
                        {{ opengraph-title }}
                    </h1>
                {% else %}
                    <h1 class="title {{ opengraph-title-class }}">
                        {{ opengraph-title }}
                    </h1>
                {% endif %}
                </h1>
            </div>
            {% endunless %}
            
            {% if opengraph-layout == 'title-with-speech-bubbles' %}
            <div id="opengraph--speech-bubbles">
                <section class="speech-bubbles speech-bubbles--no-photo speech-bubbles--with-webmentions speech-bubbles--from-them u-in-reply-to h-cite">
                    
                    <section class="speech-bubbles--content e-content">
		                <blockquote cite="{{ post.data.reply_to.post.url }}"  class="h-cite">
			                {{ post.data.reply_to.post.content | markdownify | replace: '<p>', '<p class="speech-bubble">' }}
		                </blockquote>
	                </section>
                </section>

                <section class="speech-bubbles speech-bubbles--no-photo speech-bubbles--with-webmentions speech-bubbles--from-me">
                
                    <section class="speech-bubbles--content e-content">
                        {{ post.content | replace: '<p>', '<p class="speech-bubble">' }}
                    </section>
                    
                </section>
                
            </div>
            {% endif %}
            
        </div>
    </body>

</html>

