<section class="speech-bubbles speech-bubbles--with-webmentions speech-bubbles--from-me">		
    
    <aside class="speech-bubbles--author secondary-text small-text">
        {% if page.date %}On <time class="dt-published" datetime="{{ page.date | date: '%FT%T%:z' }}">{{ page.date | date: '%d %B %Y' }}</time>, {% endif %}
	    <span class="h-card p-author">
		    <img class="u-photo hidden memoji" alt="A Memoji avatar of John Peart" src="{{ site.url | append: '/assets/images/me/memoji.png' }}">
		    <span class="p-name author--name"><a rel="author" class="link-secondary p-author u-url u-uid" href="{{ site.url }}">John Peart</a></span>
	    </span>
	    <a href="{{ page.url }}" class="link-secondary u-url">replied</a>    
    </aside>
    
    <section class="speech-bubbles--content e-content">
		{{ content 
            | replace: '<p>', '<p class="speech-bubble">'
            | replace: '<ul>', '<ul class="speech-bubble">'
            | replace: '<ol>', '<ol class="speech-bubble">'
        }}
	</section>
    
    <section class="speech-bubbles--speaker">
        <img class="u-photo" alt="John Peart's avatar" src="/assets/images/me/avatar.png">
    </section>
    
    {% include "components/webmentions/like-of.html" %}

	{% if reply_to.original.url %}
	<a class="u-in-reply-to" href="{{ reply_to.original.url }}"></a>
	{% endif %}
	
	{% for posse in posse %}
	<a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
	{% endfor %}
	
</section>
