<head prefix="og: http://ogp.me/ns#">

    {%- if env.ELEVENTY_RUN_MODE == "serve" -%}
        {%- assign siteUrl = "http://localhost:8080" -%}
    {%- else -%}
        {%- assign siteUrl = site.url -%}
    {%- endif -%}
    
    {%- assign author = "John Peart" %}
	{%- assign pageUrl = siteUrl | append: page.url | replace: 'index.html','' %}
    
	{%- if layout == "games" or layout == "goals" or layout == "loop" or layout == "music" or layout == "wishlist" -%}
        {%- assign title = title | strip_html | truncate: 200 -%}
        {%- assign description = excerpt | strip_html | strip_newlines | truncate: 200 -%}
        {%- assign type = "website" -%}
    {%- elsif layout != "loop" -%}
        {%- case collection -%}
            {%- when "blogpost" -%}
                {%- assign title = title | prepend: "📝 " | strip_html | truncate: 200 -%}
                {%- assign description = excerpt | strip_html | strip_newlines | truncate: 200 -%}
                {%- assign type = "article" -%}
            {%- when "now" -%}
                {%- assign title = title | prepend: "🕒 " | strip_html | truncate: 200 -%}
                {%- assign description = excerpt | strip_html | strip_newlines | truncate: 200 -%}
                {%- assign type = "article" -%}
            {%- when "weeknote" -%}
                {%- if title -%}
                    {%- assign title = date | date: "%d %B %Y" | prepend: "📅 Weeknote: " | append: " • " | append: title | strip_html | truncate: 200 -%}
                {%- else -%}
                    {%- assign title = date | date: "%d %B %Y" | prepend: "📅 Weeknote: " | strip_html | truncate: 200 -%}
                {%- endif -%}
                {%- assign description = excerpt | strip_html | strip_newlines | truncate: 200 -%}
                {%- assign type = "article" -%}
            {%- when "reply" -%}
                {%- assign title = reply_to.author.name | prepend: "↩️ In reply to " | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "reply" -%}
                {%- assign image = siteUrl | append: site.image-path | append: site.reply-image -%}
            {%- when "note" -%}
                {%- assign title = title | prepend: "🗒️ " | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "note" -%}
            {%- when "list" -%}
                {%- assign title = title | prepend: "☑️ " | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "note" -%}
            {%- when "share" -%}
                {%- assign title = reply_to.post.title | prepend: "🔁 Commented on “" | append: "”" | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "share" -%}
            {%- when "music" -%}
                {%- assign title = title | prepend: "🎧 Shared “" | append: "” by " | append: artist | strip_html -%}
                {%- assign description = page.content | append: "by " | append: artist | strip_html | truncate: 200 -%}
                {%- assign type = "music" -%}
            {%- when "photo" -%}
                {%- assign title = title | prepend: "📷 " | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "photo" -%}
            {%- when "game" -%}
                {%- assign title = title | prepend: "🎮 Shared “" | append: "”" | strip_html | truncate: 200 -%}
                {%- assign description = page.content | strip_html | truncate: 200 -%}
                {%- assign type = "game" -%}
            {%- else -%}
                {%- if title -%}
                    {%- assign title = title | strip_html | strip_newlines | truncate: 200 -%}
                    {%- assign description = excerpt | strip_html | strip_newlines | truncate: 200 -%}
                    {%- assign type = "article" -%}
                {%- else -%}
                    {%- assign title = site.title | strip_html | strip_newlines | truncate: 200 -%}
                    {%- assign description = site.description | strip_html | strip_newlines | truncate: 200 -%}
                    {%- assign type = "website" -%}
                {%- endif -%}
            {%- endcase -%}
    {%- endif -%}

    
	{%- capture image %}{%- openGraphScreenshotURL %}{%- endcapture %}
    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="author" content="{{ author }}">

	<!-- Base URLS, duplicate URLs and feeds -->
	<meta name="url" content="{{ siteUrl }}">
	<base href="{{ pageUrl }}">
	<!-- Links to top level resource in an hierarchical structure -->
	<link rel="index" href="{{ siteUrl }}">
	<link rel="canonical" href="{{ pageUrl }}">
	<!-- RSS -->
	{%- for feed in collections.feed %}
	<link rel="alternate" href="{{ siteUrl | append: feed.data.permalink }}" type="application/rss+xml" title="{{ "John Peart • " | append: feed.data.title }}">
	{%- endfor %}
	<!-- Links to a document that describes a collection of records, documents, or other materials of historical interest. -->
	<link rel="archives" href="{{ siteUrl | append: '/archives' }}">

	<!-- Gives information about the author -->
	<link rel="me" href="{{ siteUrl }}" type="text/html">
	<link rel="me" href="{{ site.linkedin.url }}" type="text/html">
	<link rel="me" href="{{ site.github.url }}" type="text/html">
	<link rel="me" href="{{ site.mastodon.url }}" type="text/html">
    <meta name="fediverse:creator" content="{{ site.mastodon.handle }}">
	<link rel="me" href="{{ site.bluesky.url }}" type="text/html">
	<link href="mailto:{{ site.webmention-io.email }}" rel="me">
	<link href="{{ site.gravatar.url }}" rel="me">
    
	<!-- Web mentions -->
	{%- if site.webmentions %}
	<link rel="dns-prefetch" href="https://webmention.io">
	<link rel="preconnect" href="https://webmention.io">
	<link rel="preconnect" href="ws://webmention.io:8080">
	<link rel="pingback" href="https://webmention.io/{{ site.webmentions.username }}/xmlrpc">
	<link rel="webmention" href="https://webmention.io/{{ site.webmentions.username }}/webmention">
	{%- endif %}

    <!-- Schema.org settings -->
    <meta itemprop="name"                content="{{ title }}">
    <meta itemprop="description"         content="{{ description }}">
    <meta itemprop="image"               content="{{ image }}">
    <!-- Facebook Open Graph settings -->
    <meta property="og:url"              content="{{ pageUrl }}">
    <meta property="og:type"             content="{{ type }}">
    <meta property="og:site_name"        content="{{ author }}">
    <meta property="og:locale"           content="en_GB">
    <meta property="article:author"      content="{{ author }}">
    <meta property="article:publisher"   content="{{ author }}">

    <!-- Standard favicons -->
    <link rel="icon" href="{{ siteUrl }}/assets/images/site/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="{{ siteUrl }}/assets/images/site/favicon-large-png.png" type="image/png">
    <link rel="icon" href="{{ siteUrl }}/assets/images/site/favicon.ico" type="image/x-icon">
    
    <!-- Apple iOS -->
    <link rel="apple-touch-icon" href="{{ siteUrl }}/assets/images/site/favicon-large-png.png">
    
    <!-- Safari pinned tab -->
    <link rel="mask-icon" href="{{ siteUrl }}/assets/images/site/favicon-pinned-svg.svg" color="#5bbad5">

	<!-- Safari toolbar colors -->
	<meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#141619" media="(prefers-color-scheme: dark)">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ siteUrl | append: '/assets/styles/styles.css' }}">
	
	<!-- Scripts -->
	<script type="text/javascript" src="{{ siteUrl | append: '/assets/scripts/scripts.js' }}"></script>

</head>
