{% if env.ELEVENTY_RUN_MODE == "serve" %}{% assign siteUrl = 'http://localhost:8080' %}{% endif %}

<header class="global-navigation">
    
	<nav class="navigation" aria-label="Main menu">
        <h1 class="navigation--wordmark">
            <a href="{{ siteUrl | default: site.url }}" class="navigation--wordmark--link">John Peart</a>
        </h1>
    
        <ul class="navigation--links">
            {% if permalink == '/menu/' or permalink == '/search/' %}
            <li class="navigation--links-item">
                {% include 'components/navigation-icons/escape.html' %}
            </li>
            {% else %}
            <!-- <li class="navigation--links-item">
                {% include 'components/navigation-icons/search.html' %}
            </li> -->
            <li class="navigation--links-item">
                {% include 'components/navigation-icons/menu.html' %}
            </li>
            {% endif %}
        </ul>
		
	</nav>
        
</header>