body#home,
body#four-oh-four {
    
    #content {
        display: grid;
    }
    #content.container {
        align-self: center;
        margin-block-end: calc(var(--pad) * 4);
        margin-block-start: calc(var(--pad) * -4);
    }
    
    h1.display {
        padding: 0;
        margin-left: -3px;
        @media (min-width: 700px) {
            margin-left: -8px;
        }
        @media (min-width: 1100px)  {
            margin-left: -10px;
        }
    }
    
    p.display {
        text-wrap: balance;   
    }
    
}
