body#home,
body#four-oh-four {
    h1.display {
        margin-left: -3px;
        @include tablet {
            margin-left: -8px;
        }
        @include desktop {
            margin-left: -10px;
        }
    }
    
    p.display {
        text-wrap: balance;   
    }
    
}
