body#manuals {

    article.project {
        padding: var(--pad) 0;
        border-top: 1px solid;
        border-color: var(--secondary-borderColor);
    }

    h2.project-name {
        font-size: clamp(24px, 5.6vw, 35px);
        text-align: left;
        padding: 0 !important;
    }

    p.project-notes {
        padding: 0;
    }

}
