body[id$='blogpost'],
body[id$='photo'],
body[id$='now'] {

    section.post-body ul > li::before {
        position: absolute;
        content: "\2014";
        margin-left: calc(clamp(30px, 3vw, 40px) * -1);
    }

    header.post-title[class^="collection--"] {
        margin: calc(var(--pad) * 4) auto 0;
        text-align: center;
    }

}

header.post-title.collection--blogpost {
    margin: calc(var(--pad) * 4) auto 0 !important;
    text-align: center;
}

section.from-me + footer.interactions,
section.from-them + footer.interactions {
    margin-bottom: calc(var(--pad) * 4);
}

article#post-content.share,
article#post-content.reply {
    margin: calc(var(--pad) * 4) auto calc(var(--pad) * 2);
    @media (min-width: 700px) {
        margin: calc(var(--pad) * 6) auto calc(var(--pad) * 2);
    }
}

body[id$='slides'] .slides {
    grid-column: popout;
    
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 
            [slide-start] 1fr [slide-end content-start] 1fr [content-end];
        grid-gap: calc(var(--pad) * 2);
        
        & > figure,
        & > p:has(img.slide) {
            grid-column: slide;
        }
        & > p {
            grid-column: 1 / 3;
        }
        & > blockquote {
            grid-column: content;
        }
    }
}