body[id$='post'],
body[id$='photo'] {

    section.post-body ul > li::before {
        position: absolute;
        content: "\2014";

        left: $padding;
    }

    header.post-title.collection--note,
    header.post-title.collection--list,
	header.post-title.collection--photo,
    header.post-title.collection--music,
    header.post-title.collection--weeknote,
    header.post-title.collection--game {
        margin: $padding * 2 auto $padding * 4;
        text-align: center;
    }

}

section.from-me + footer.interactions,
section.from-them + footer.interactions {
    margin-bottom: $padding * 4;
}

article#post-content.share,
article#post-content.reply {
    margin: $padding * 4 auto 0;
    @include tablet-up {
        margin: $padding * 6 auto 0;
    }
}
