body[id$='blogpost'],
body[id$='photo'] {

    section.post-body ul > li::before {
        position: absolute;
        content: "\2014";

        left: var(--pad);
    }

    header.post-title[class^="collection--"] {
        margin: calc(var(--pad) * 4) auto;
        text-align: center;
    }

}

header.post-title.collection--blogpost {
    margin: calc(var(--pad) * 4) auto 0 !important;
    text-align: center;
}

section.from-me + footer.interactions,
section.from-them + footer.interactions {
    margin-bottom: calc(var(--pad) * 4);
}

article#post-content.share,
article#post-content.reply {
    margin: calc(var(--pad) * 4) auto 0;
    @media (min-width: 700px) {
        margin: calc(var(--pad) * 6) auto 0;
    }
}
