html {
    background: var(--background--inverse);
}

body { 
    min-height: unset;
    
    height: 630px;
    width: 1200px;
    
    margin: 0;
    
    background: var(--background);
    
    padding: 15px 15px 30px 15px;   
}

#opengraph {
    --border-width: 5px;
    
    display: grid;
    
    height: 100%;
    width: 100%;
    
    background: var(--background);
    overflow: hidden;
                
    border: var(--border-width) solid var(--color);
    border-radius: 30px;
    box-shadow: 0px 15px 0px var(--color);
    
    &.og-layout--default {
        grid-template-rows: auto 1fr;
        grid-template-columns: 3fr 4fr;
    }
    
    &.og-layout--with-title {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
    &.og-layout--with-image {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
    &.og-layout--with-object {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
}

#og-title,
#og-site,
#og-collection,
#og-image {
    display: grid;
}

#og-site {
    grid-column: 1 / -1;
    border-bottom: var(--border-width) solid var(--color);
}

#og-collection {
    border-top: var(--border-width) solid var(--color);
}

#og-site,
#og-collection {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: capitalize;
}

#og-title {
    align-items: center;
}

h1.title {
    font-size: 75px;
    line-height: 70px;
    font-weight: bold;
    font-style: normal;
    text-wrap: balance;
    text-wrap: pretty; 
    text-align: left;
    text-decoration: none;
    text-transform: none;
    color: var(--cyan);
    padding: 15px 30px;
    
    &.title--medium {
        font-size: 125px;
        line-height: 115px;
        letter-spacing: -3px;
    }
    
    &.title--large {
        font-size: 200px;
        line-height: 175px;
        letter-spacing: -5px;
    }
}

p.lead {
    font-size: 60px;
    line-height: 1;
    margin: 15px 0 0;
    align-self: start;
}

img,
svg {
    max-height: 500px;
    padding: 45px 0 0;
}

.padding-bottom--0 {
    padding-bottom: 0 !important;
}