html {
    background: var(--background--inverse);
}

body { 
    min-height: unset;
    
    height: 630px;
    width: 1200px;
    
    margin: 0;
    
    background: var(--background);
    
    padding: 15px 15px 30px 15px;   
}

#opengraph {
    --border-width: 5px;
    
    display: grid;
    
    height: 100%;
    width: 100%;
    
    background: var(--background);
    overflow: hidden;
                
    border: var(--border-width) solid var(--color);
    border-radius: 40px;
    box-shadow: 0px 15px 0px var(--color);
    
    &.og-layout--default {
        grid-template-rows: auto 1fr;
        grid-template-columns: 3fr 4fr;
    }
    
    &.og-layout--with-title {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
    &.og-layout--with-image {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
    &.og-layout--with-object {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
    &.og-layout--with-speech-bubble {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    
}

#og-title,
#og-site,
#og-image {
    display: grid;
}

#og-site {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;

    border-bottom: var(--border-width) solid var(--color);
}

.site-title {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: capitalize;
}

.og-collection {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    background: var(--brand);
    color: var(--background);
    text-transform: capitalize;
    
    justify-self: flex-end;
}

#og-title {
    align-items: center;
}

#og-speech-bubble {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: var(--pad);
}

h1.title {
    font-size: 75px;
    line-height: 70px;
    font-weight: bold;
    font-style: normal;
    text-wrap: balance;
    text-wrap: pretty; 
    text-align: left;
    text-decoration: none;
    text-transform: none;
    color: var(--cyan);
    padding: 15px 30px;
    
    &.title--medium {
        font-size: 125px;
        line-height: 115px;
        letter-spacing: -3px;
    }
    
    &.title--large {
        font-size: 200px;
        line-height: 175px;
        letter-spacing: -5px;
    }
}

p.lead {
    font-size: 60px;
    line-height: 1;
    margin: 15px 0 0;
    align-self: start;
}

img,
svg {
    max-height: 500px;
    padding: 15px 0;
}

.og-layout--default img,
.og-layout--default svg {
    padding: 45px 0 0;
}

.object--svg {
    display: grid;
    height: 100%;
}
.object {
    margin: auto !important;
    max-width: 100% !important;
}

#og-speech-bubble .speech-bubbles {
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    // grid-template-areas: unset;
    // justify-items: center;
    // align-items: center;
    // height: 100%;
    padding-inline: 200px;
    
    &.speech-bubbles--from-them { 
        align-self: flex-end;
    }
    &.speech-bubbles--from-me {
        align-self: flex-start;
        
    }
    
    & > * {
        // max-width: 500px;
        // grid-area: unset;
    }
    
    img { 
        padding: 0;
    }
    
    h1 {
        font-weight: bold;
    }
}

.padding-bottom--0 {
    padding-bottom: 0 !important;
}