<div id="og-site">
    {{ og-site }}
</div>
<div id="og-collection">
    {{ og-collection }}
</div>
<div id="og-title">
    {% if post.data.reply_to %}
    <section class="speech-bubbles speech-bubbles--no-photo speech-bubbles--with-webmentions speech-bubbles--from-them" style="width: 1000px; justify-self: center; line-height: 1.2;">

        <section class="speech-bubbles--content quote">
            <blockquote cite="{{ post.data.reply_to.post.url }}" class="h-cite">
                {% if post.data.reply_to.post.title %}
                    <a href="{{ post.data.reply_to.post.url }}" class="u-url no-underline speech-bubble">
                        <h1 class="post-title">
                            {{ post.data.reply_to.post.title }}
                        </h1>
                    </a>
                {% endif %}
                {% if post.data.reply_to.post.content %}
                    {{ post.data.reply_to.post.content | markdownify 
                        | replace: '<p>', '<p class="speech-bubble">'
                        | replace: '<ul>', '<ul class="speech-bubble">'
                        | replace: '<ol>', '<ol class="speech-bubble">'
                    }}
                {% elsif post.data.reply_to.post.description %}
                    {{ post.data.reply_to.post.description | markdownify 
                        | replace: '<p>', '<p class="speech-bubble">'
                        | replace: '<ul>', '<ul class="speech-bubble">'
                        | replace: '<ol>', '<ol class="speech-bubble">'
                    }}
                {% endif %}
            </blockquote>
        </section>
        
    </section>
    
    <section class="speech-bubbles speech-bubbles--with-webmentions speech-bubbles--from-me" style="width: 1000px; justify-self: center; line-height: 1.2;">		
        <section class="speech-bubbles--content e-content">
            {{ post.content 
                | replace: '<p>', '<p class="speech-bubble">'
                | replace: '<ul>', '<ul class="speech-bubble">'
                | replace: '<ol>', '<ol class="speech-bubble">'
            }}
        </section>
        
    </section>

    {% else %}
    <h1 class="title {{ og-title--override }}">{{ og-title }}</div>
    {% endif %}
</div>