html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    min-height: 100vh;
    
    /* GLOBAL FONT SETTINGS */
    font-size: clamp(
        calc(var(--font-size) + 6px), 
        1.5vw + 1rem, 
        calc(var(--font-size) + 14px)
    );
    
    font-family: "JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif;-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    font-kerning:  auto;
    letter-spacing: normal;

}

html,
body {
    background: light-dark(var(--white), var(--black));
    color: var(--color);
}

