#author-card {
    grid-area: author;

    display: grid;
    position: relative;
    height: 100%;
    text-align: center;
	
	grid-gap: var(--pad);

	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
        grid-template-areas: "card" "icons";

	@media (min-width: 700px) {
		grid-template-columns: 1fr auto;
		grid-template-rows: 1fr;
        grid-template-areas: "card icons";
	}
}

#author--bio {
	display: grid;    
	grid-gap: 0;
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;
	grid-template-areas: 
		"photo name"
		"photo url";
}

.author--photo {
	grid-area: photo;
	align-self: flex-start;
	justify-self: center;
}

.author--name {
	grid-area: name;
	padding: 0;
	align-self: flex-end;
    text-align: left;
}
.author--url {
	grid-area: url;
	padding: 0;
	align-self: flex-start;
    text-align: left;
}

.author--icons {
	display: grid;    
    grid-area: icons;
	grid-gap: calc(var(--pad) * 2/3);
	grid-template-columns: 1fr;
}