button,
.button {
    --button-color: var(--background);
    --button-background: var(--brand);
    --button-hoverColor: var(--background);
    --button-hoverBackground: var(--brand-tone);
    --button-activeColor: light-dark(var(--brand-tint), var(--black));
    --button-border: var(--cyan);

    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    padding: calc(var(--pad) * 0.5) var(--pad);
    margin: 0;
    color: var(--button-color);
    background: var(--button-background);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow--depth-2);
    line-height: 1 !important;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
        color: var(--button-color);
        background: var(--button-background);
        text-decoration: none;
    }

    &:hover {
        background: var(--button-hoverBackground);
        color: var(--button-hoverColor);
        box-shadow: var(--shadow--depth-1);
    }

    &:focus,
    &:focus-visible {
        background: var(--link-focusBackground);
        box-shadow: var(--shadow--depth-1);
        outline: 3px solid var(--link-outlineColor);
        outline-offset: var(--outline-active-offset);
    }

    &:hover:focus {
        background: var(--button-hoverBackground);
        box-shadow: var(--shadow--depth-1);
        outline-offset: var(--outline-active-offset);
    }

    &:active {
        background: var(--button-hoverBackground);
        box-shadow: var(--shadow--depth-1--inset);
        color: var(--button-activeColor);
        text-decoration: none !important;
    }

    &:disabled,
    &:disabled:focus,
    &:disabled:hover,
    &:disabled:active {
        background: var(--secondary-background);
        color: var(--secondary-color);
        box-shadow: none;
        text-align: center;
        cursor: unset;
        outline: none;
        text-decoration: none !important;
    }
}