button,
.button {
	all: unset;
	
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	
	cursor: pointer;
	
	padding: $padding * 0.5 $padding;
    margin: 0;
	
    @include typography($p, "default");
	color: var(--button-color);
    line-height: 1 !important;
	text-align: center;
	
	height: auto;
    width: 100%;
	&.width-auto {
		width: auto;	
	}
	    
    @include material(2, false, form("border-radius"), var(--button-background));
    
	
	&:link,
	&:visited {
		text-decoration: none;
		color: var(--button-color);
		background: var(--button-background);
	}
    &:hover {
		@include material(1, false, false, --button-background);
    }
	&:focus,
    &:focus-visible {
        box-shadow: none;
		outline: 3px solid var(--link-outlineColor);
        @include material(1, false, false, --button-background);
	    outline-offset: form("outline-active-offset");
    }
    &:hover:focus {
	    outline-offset: form("outline-active-offset");
        @include material(1, false, false, --button-background);
    }
    &:active {
        text-decoration: none !important;
		@include material(1, true, false, --button-background);
    }

    &:disabled,
    &:disabled:focus, &:disabled:hover, &:disabled:active {
		box-shadow: none;
		text-decoration: none !important;
        background: var(--secondary-background);
        color: var(--secondary-color);
        text-align: center;
        cursor: unset;
        outline: none;
    }
    
    &.button--red {
        background: var(--red);
        
        &:active {
            background: var(--red-tone);
        }
    }
}
