.collection--weeknote h1 {
    padding-top: calc(var(--pad) * 4);
}

aside.calendar {
    padding: calc(var(--pad) * 2) 0;
}

.calendar-board {
    display: inline-block;
    background: light-dark(var(--gray-500),var(--gray-600));
    border: 3px solid light-dark(var(--black), var(--gray-800));
    box-shadow: 0 6px light-dark(var(--black), var(--gray-800));
    padding: 0 var(--pad);
    transform: rotateY(0deg) rotateZ(-5deg);
    
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: -50px;
        height: 90px;
        width: 24px;
        
        background: light-dark(var(--gray-300),var(--gray-400));
        border: 3px solid light-dark(var(--black), var(--gray-800));
        box-shadow: 0 3px light-dark(var(--black), var(--gray-800));
        border-radius: calc(var(--border-radius) * 2);
        
        @media (max-width: 700px) {
            height: 70px;
            top: -40px;
        }
    }
    
    &::before {
        left: calc(20% - 12px);
    }
    
    &::after {
        left: calc(80% - 12px);
    }
}

.calendar-sheet {
    display: grid;
    position: relative;
    align-self: center;
    aspect-ratio: 1;
    z-index: 5;
    
    top: -15px;
    width: clamp(250px, 20vw + 50px, 350px);
    margin: 0 auto var(--pad);

    text-align: center;
    line-height: 1;
    padding: 0;

    background: var(--white);
    border: 3px solid light-dark(var(--black), var(--gray-900));

    box-shadow: 0 18px light-dark(var(--black), var(--gray-900));
                
    .calendar-month {
        font-size: clamp(55px, 6vw, 75px);
        font-weight: bold;
        text-transform: uppercase;
        padding: var(--pad) !important;
        border-bottom: 3px solid light-dark(var(--black), var(--gray-900));
        background: var(--red-tone);
        color: var(--white);
        align-self: flex-start;
    }

    .calendar-date {
        font-size: clamp(120px, 10vw, 190px);
        font-weight: bold;
        padding: 0 !important;
        background: var(--white);
        color: var(--black);
        align-self: center;
        line-height: 1 !important;
    }

    .calendar-collection {
        font-size: clamp(30px, 4vw, 36px);
        font-family: "Permanent Marker", "Segoe Print", "Marker Felt", Chilanka, TSCu_Comic, casual, cursive;
        text-transform: uppercase;
        text-align: center;
        padding: var(--pad) !important;
        background: var(--white);
        color: var(--red-tone);
        align-self: flex-end;
    }
}

.calendar-title {
    display: block;
    margin-top: calc(var(--pad) * 4);
    text-align: center;
}
