.collection--weeknote h1 {
    padding-top: calc(var(--pad) * 4);
}

.calendar-sheet {
    display: grid;
    position: relative;
    align-self: center;
    aspect-ratio: 1;

    width: clamp(250px, 20vw + 50px, 350px);
    margin: 0 auto var(--pad);

    text-align: center;
    line-height: 1;
    padding: 0;

    background: var(--white);
    border: 2px solid var(--gray-300);
    border-radius: 30px;

    box-shadow:
        0 0 var(--white),
        0 0 var(--gray-300),
        0 2px var(--gray-200),
        0 4px var(--gray-400),
        0 6px var(--gray-300),
        0 8px var(--gray-400),
        0 10px 3px rgba(0, 0, 0, 0.12),
        0 10px 2px rgba(0, 0, 0, 0.24);

    .calendar-month {
        font-size: clamp(45px, 6vw, 75px);
        font-weight: bold;
        text-transform: uppercase;
        padding: var(--pad) !important;
        background: var(--red-tone);
        color: var(--white);
        align-self: flex-start;
        border-radius: calc(var(--border-radius) * 4 - 2px) calc(var(--border-radius) * 4 - 2px) 0 0;
    }

    .calendar-date {
        font-size: clamp(120px, 10vw, 190px);
        font-weight: bold;
        padding: 0 !important;
        background: var(--white);
        color: var(--black);
        align-self: center;
        line-height: 1 !important;
    }

    .calendar-collection {
        font-size: clamp(30px, 4vw, 36px);
        font-family: "Permanent Marker", "Segoe Print", "Marker Felt", Chilanka, TSCu_Comic, casual, cursive;
        text-transform: uppercase;
        text-align: center;
        padding: var(--pad) !important;
        background: var(--white);
        color: var(--red-tone);
        align-self: flex-end;
        border-radius: 0 0 30px 30px;
    }
}

.calendar-title {
    display: block;
    margin-top: calc(var(--pad) * 4);
    text-align: center;
}
