.card {
    background: var(--secondary-background);
    border: var(--border-width) solid var(--color);
    border-radius: calc(var(--border-radius) * 2);
    padding: var(--card-padding, var(--pad));
    box-shadow: var(--shadow-deep);
}