dd,
dt {
    font-size: clamp(22px, 3vw, 30px);
    line-height: 1.2;
    font-style: normal;
}

figure dl {
    padding: var(--pad);

    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
    column-gap: calc(var(--pad) * 2);
    row-gap: var(--pad);

    @media (min-width: 700px) {
        grid-template-rows: 1fr;
        grid-template-columns: auto 1fr;
    }
}

dl#exif {
   h2,
   div {
       padding: var(--pad) !important;
   }
}