dd,
dt {
    font-size: clamp(22px, 3vw, 30px);
    line-height: 1.2;
    font-style: normal;
}

figure dl {
    padding: var(--pad);

    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto;
    column-gap: calc(var(--pad) * 2);
    row-gap: var(--pad);

    @media (min-width: 700px) {
        grid-template-rows: 1fr;
        grid-template-columns: auto 1fr;
    }
}

section.apps-list,
section.app-sheet {
    margin: var(--pad) auto calc(var(--pad) * 2);
    
    dl {
        display: grid;
    
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        column-gap: calc(var(--pad) * 2);
        row-gap: var(--pad);
        
        box-shadow: none;
        border-radius: 0;
    
        @media (min-width: 700px) {
            grid-template-rows: 1fr;
            grid-template-columns: auto 1fr;
        }
    }
}

section.app-sheet {

    max-width: 570px;

    .dl--app {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 80px auto auto auto;
        row-gap: 0;
        column-gap: 0;
        grid-template-areas: "icon app-name app-name app-name"
                                "icon app-description app-description app-description"
                                "icon app-type app-type app-type"
                                "app-first-label app-first-label app-first app-first"
                                "app-second-label app-second-label app-second app-second";
        @media (min-width: 700px) {
            grid-template-columns: 130px auto auto auto;
        }
    }

    .app-name {
        grid-area: app-name;
        font-size: clamp(27px, 6.4vw, 40px);
        font-weight: bold;
        font-style: normal;
        text-align: left;
        text-decoration: none;
        text-transform: none;
        line-height: 1;
        padding: 0 0 0 0 !important;
    }
    .app-description {
        grid-area: app-description;
    }
    .app-type {
        grid-area: app-type;
    }
    .app-description,
    .app-type {
        line-height: 1;
        color: var(--secondary-color);
    }
    .app-second-label {
        grid-area: app-second-label;
    }
    .app-second {
        grid-area: app-second;
    }
    .app-first-label {
        grid-area: app-first-label;
    }
    .app-first {
        grid-area: app-first;
    }
    .app-second-label,
    .app-second,
    .app-first-label,
    .app-first {
        border-top: 3px solid var(--secondary-borderColor);
        margin-top: var(--pad);
        padding: 10px 0 0 0;
    }
    .app-first-label,
    .app-first {
        margin-top: calc(var(--pad) * 2);
    }
    .app-first,
    .app-second {
        text-align: right;
    }

    @include clearfix();
}

section.apps-list {

    max-width: 570px;
    
    dl {
        display: grid;
        grid-template-rows: auto auto;
        column-gap: 20px;
        align-items: center;
        padding: 15px;
        
        &:hover {
            background: var(--secondary-hoverBackground);
        }
        &:first-child {
            border-top-left-radius: calc(var(--border-radius) * 2);
            border-top-right-radius: calc(var(--border-radius) * 2);
        }
        &:last-child {
            border-bottom-left-radius: calc(var(--border-radius) * 2);
            border-bottom-right-radius: calc(var(--border-radius) * 2);
        }
        
        @media (min-width: 700px) {
            grid-template-rows: 1fr;
        }
    }
    
    dl.dl--app {
        grid-template-columns: auto 1fr;
        grid-template-areas: 'icon name' 'icon price';
        
        @media (min-width: 700px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: 'icon name price';
        }

    }

    dl.dl--total {
        
        grid-template-columns: 1fr;
        grid-template-areas: 'label' 'price';
        border-top: 3px solid var(--secondary-borderColor);
        
        @media (min-width: 700px) {
            grid-template-columns: 1fr auto;
            grid-template-areas: 'label price';
        }
    }
}