.tabs {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    
    margin-block-end: $container-padding * 4;
    
    &.tabs-50vh .tab-bar--content {
        min-height: 50vh;
    }
    &.tabs-100vh .tab-bar--content {
        min-height: 100vh;
    }
    
    &.card {
        padding: $container-padding;
    }
}

.tab-bar--item {
    display: contents;
}

.tab-bar--summary {
    display: block;
    padding: $container-padding * 0.5;
    margin-inline: $container-padding * 0.25;
    order: 0;
    border-radius: $border-radius;
    cursor: pointer;
}

.tab-bar--item[open] > .tab-bar--summary {
    background: var(--secondary-background);
}

.tab-bar--summary h2 {
    @include typography($p);
    margin: 0;
    padding: 0;
}

.tab-bar--summary:hover {
    background: var(--secondary-background);
} 
.tab-bar--summary:focus {
    outline: 3px solid var(--cyan);
    outline-offset: 3px;
}

.tab-bar--summary::-webkit-details-marker {
    display: none;
}

.tab-bar--content {
    order: 1;
    width: 100%;
}