footer {
    padding-bottom: var(--pad);
}

dl.meta-data {
    grid-area: post-meta;

    display: grid;
    height: 100%;
    
    grid-gap: var(--pad);
    grid-template-rows: auto auto;
	@media (min-width: 700px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

    aside {
        padding: var(--pad);
    }

    p, dl, dt, dd {
        font-size: clamp(18px, 3vw, 24px);
        line-height: 1.2;
    }
    dt, dd {
        display: block;
        position: relative;
        width: 100%;
    }
    dt {
        font-weight: bold;
    }
    dd {
        text-transform: capitalize;
    }

}
