footer#site-footer img.memoji {
    display: none;
}

aside#related {
    margin-block-end: $padding;    
}

footer#webmentions-footer {
    padding-block-end: $padding;
}

footer#post-footer {
	padding-block-end: $padding * 4;
}

dl.meta-data {
    grid-area: post-meta;

    display: grid;
    grid-gap: $padding;
    grid-template-rows: auto auto;
	@include tablet-up() {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
    height: 100%;

    aside {
        padding: $padding;
    }

    p, dl, dt, dd {
        @include typography($metadata);
            line-height: 1.2;
    }
    dt, dd {
        display: block;
        position: relative;
        width: 100%;
    }
    dt {
        font-weight: bold;
    }
    dd {
        text-transform: capitalize;
    }

}
