.gallery {
    display: grid;
    padding: 0 $padding;
    @include tablet-up() {
        padding: 0 $padding * 6;
    }
    margin-block: $padding * 3;
    grid-gap: $padding * 2 $padding;
    
    @include tablet() {
        &.gallery-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.gallery-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.gallery-4 {
            grid-template-columns: repeat(3, 1fr);
        }
        grid-gap: $padding * 2;
    }
    
    @include desktop() {
        &.gallery-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.gallery-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.gallery-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        grid-gap: $padding * 3;
    }
    
    li {
        margin: auto;
    }
    
    &.gallery-tilt {
        li {
            transform: rotate(-1deg);
        }
        
        li:nth-of-type(2n) {
            transform: rotate(2deg);
        }
        
        li:nth-of-type(3n) {
            transform: rotate(1deg);
        }
        
        li:nth-of-type(4n) {
            transform: rotate(-2deg);
        }
    }
}