ul.games {
    display: grid;
    grid-template-columns: 1fr;
    @include tablet-up() {
        grid-template-columns: 1fr 1fr 1fr;
    }
    grid-gap: $container-padding * 3;
    padding: $container-padding * 2 0;
    
    li .gamepak svg {
        max-width: 200px !important;
    }
}

a.gamepak-link {
    display: block;
    transition: transform 0.25s;
    
    &:hover {
        transform: translateY(-10px);
        transition: transform 0.25s;
    }
    &:focus {
        outline: none;
    }
    &:active {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
}

.gamepak {
    display: grid;
	margin: 0 auto;
    align-items: center;
    justify-items: center;
    
    svg {
        max-width: 200px;
        @include tablet() {
    	    max-width: 400px;
        }
	    @include desktop() {
    	    max-width: 400px;
	    }
    }
}

h1.gamepak-metadata-title {
    @include typography($large, "default");
	margin-top: $container-padding * 2 !important;
}

h1.gamepak-metadata-title {
    text-align: center;
    padding: 0;
    margin: 0;
}
