a.game--link {
    display: block;
    transition: transform 0.25s;
    
    &:hover {
        transform: translateY(-10px);
        transition: transform 0.25s;
    }
    &:focus {
        outline: none;
    }
    &:active {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
}

.game--playstation,
.game--game-boy {
    display: grid;
	margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.gallery .game--game-boy svg {
    max-width: 200px;
}

.game--game-boy svg {
    max-width: 200px;
    @include tablet() {
        max-width: 400px;
    }
    @include desktop() {
        max-width: 400px;
    }
}

.game--playstation svg {
    max-width: 300px;
    @include tablet() {
        max-width: 400px;
    }
    @include desktop() {
        max-width: 400px;
    }
    
    #CD1 {
        transition: translate 1s ease-in-out;
    }
    
    &:hover #CD1 {
        translate: 0px -100px;
        transition: translate 1s ease-in-out;
    }
}

h1.game--metadata-title {
    @include typography($large, "default");
	margin-top: $container-padding * 6 !important;
}

h1.game--metadata-title {
    text-align: center;
    padding: 0;
    margin: 0;
}
