nav#site-navigation {
    
    @include glow($depth: 2, $hover-offset: 20, $on-hover-only: true);
    transition: all 0.5s ease-in;
    
    section#site-navigation--menu-bar {
        display: grid;
        grid-template-areas: "wordmark button";
		grid-template-columns: 1fr auto;
        padding: $container-padding 0;
        margin: 0 0 $container-padding * 2 0;
        transition: all 0.5s ease-in-out;
    }
    
    &.open {
        @include glow($depth: 2, $transition: 0.2, $offset: 20, $no-hover: true);
        margin: $container-padding 0 $container-padding * 2 0;
    }
    
    &:hover section#site-navigation--menu-bar,
    &.open section#site-navigation--menu-bar {
        padding: $container-padding;
        margin: $container-padding 0;
        transition: all 0.5s ease-in;
    }
    
    #site-navigation--wordmark--link {
        &:link,
        &:visited {
            color: var(--link-secondary-color);
            text-decoration: none;
        }
        &:hover {
            color: var(--link-hoverColor);
            text-decoration: underline;
        }
        &:hover:focus {
            text-decoration: underline;
			outline-offset: 3px;
        }
        &:focus {
            color: var(--link-focusColor);
            background: var(--link-focusBackground);
            outline: 3px solid var(--link-outlineColor);
			outline-offset: 0;
        }
    }
    
    &:hover #site-navigation--wordmark--link,
    &.open #site-navigation--wordmark--link {
        transition: all 0.5s ease-in;
        &:link,
        &:visited {
            color: var(--link-color);
        }
    }
    
	&:hover svg path#menuicon,
    &.open svg path#menuicon {
    	fill: var(--color);
        transition: all 0.5s ease-in;
	}
    
    section#site-navigation--navigation {
        display: grid;
        grid-template-rows: repeat(auto, 3);
    }
    
    &.open section#site-navigation--navigation {
        display: grid;
    }
    
    &.closed section#site-navigation--navigation {
        display: none;
    }
    
    section.site-navigation--section {
        display: grid;
        @include tablet-up {
            grid-template-columns: 1fr 2fr;
        }
        padding: $container-padding 0;
        margin: 0 $container-padding;
        
        &:nth-last-child(-n+2) {
            border-top: 1px solid var(--secondary-borderColor);
        }
        
    }
    
    ul.site-navigation--section--links {
        display: grid;
        grid-gap: $container-padding;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

// Wordmark
p#header--wordmark {
    position: relative;
    display: block;
    z-index: 10000;
    font-weight: 900 !important;
    font-size: 30px;
	line-height: 30px;
    @include tablet {
        font-size: 28px;
		line-height: 28px;
    }
    @include desktop {
        font-size: 30px;
		line-height: 30px;
    }
    padding: 0;
}

// Menu icon
button#header-menu--toggle {
	all: unset;
	display: grid;
	box-sizing: border-box;
	border: 1px solid transparent;
	height: 32px;
	align-content: center;
	justify-content: center;
	aspect-ratio: 1;
	
	svg {
		transform-origin: center;
		transition: 0.2s all;
	}
	
	svg path#menuicon {
    	fill: var(--secondary-color);
	}
    
    &:hover {
        cursor: pointer;
    }
	
	&:hover svg path#menuicon,
	&:focus svg path#menuicon,
	&:active svg path#menuicon {
    	fill: var(--cyan);
    	color: var(--cyan);
	}
}

svg#header-menu--toggle-image {
    position: relative;
    display: inline-block;
    width: 19px;
    @include tablet {
        width: 20px;
    }
    @include desktop {
        width: 22px;
    }
    transform: rotate(0deg);
    transform-origin: center;
    transition: 0.2s all;
}

nav#site-navigation.open button#header-menu--toggle svg {
	transform: rotate(45deg);
}

nav#site-navigation.closed button#header-menu--toggle svg {
	transform: rotate(0deg);
}