hr {
    border-radius: var(--border-radius);
    border: 3px solid var(--color);
    width: 25%;
    max-width: 100px;
    margin: calc(var(--pad) * 4) auto calc(var(--pad) * 4);
}

hr {
    & + p,
    & + h1,
    & + h2,
    & + h3,
    & + h4 {
        padding-top: var(--pad);
    }
}
