hr {
    border-radius: $border-radius;
    border: 1px solid var(--secondary-borderColor);
	
	&.short {
		margin: $padding * 2 auto;
		max-width: 50px;
	}
}

hr + p {
    margin-top: $padding * 2;
}
