figure,
.composite-image {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    max-width: 100%;
    margin: 0 0 calc(var(--pad) * 2);

    &.featured-image {
        margin-bottom: calc(var(--pad) * 3);
    }

    img {
        display: block;
        position: relative;
        box-sizing: content-box;
        width: 100%;
        max-width: 100%;
        height: auto;

        &.padding {
            padding: var(--pad);
            box-sizing: border-box;
        }
    }
    img,
	picture source,
	picture img {
        background: light-dark(var(--gray-100), var(--gray-900));
        border-radius: calc(var(--border-radius) * 2);
        box-shadow: var(--shadow--depth-1);
	}

    @media (min-width: 700px) {
        --w: 720px;
        --container: 610px;
        
        --m: calc(calc(var(--w) - var(--container)) / 2 * -1);
        
        width: var(--w);
        max-width: unset;
        margin: 0 var(--m) calc(var(--pad) * 3);
    }

    @media (min-width: 1100px) {
        --w: 1100px;
        --container: 870px;
        
        --m: calc(calc(var(--w) - var(--container)) / 2 * -1);
        
        width: var(--w);
        margin: 0 var(--m) calc(var(--pad) * 3);
    }

}

figcaption {
    display: relative;
    max-width: 40ch;
    margin: var(--pad) 0;
    padding: 0 var(--pad);
    line-height: 1.25;
    text-align: left;
    font-size: clamp(18px, 3vw, 24px);
    color: var(--secondary-color);
}

p > img {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    
    background: light-dark(var(--gray-100), var(--gray-900));
    border-radius: calc(var(--border-radius) * 2);
    box-shadow: var(--shadow--depth-1);
    padding: var(--card-padding, var(--pad));

    @media (min-width: 700px) {
        width: 720px;
        max-width: unset;
        margin: var(--pad) -45px;
    }

    @media (min-width: 1100px) {
        width: 1100px;
        margin: var(--pad) -115px 30px;
    }
}

.background {
    z-index: 1;
    aspect-ratio: 2/1;

    &.cover { object-fit: cover; }
    &.fill  { object-fit: fill; }
}

div.overlay {
    display: grid;
    position: absolute;
    justify-items: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius) * 2);
    box-shadow: var(--shadow--depth-2);
    background: none;

    &.overlay--eurovision {
        padding: var(--pad);
        border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
        box-shadow: none;
    }
}

@each $value in 5, 10, 20, 50 {
    .overlay-#{$value} {
        -webkit-backdrop-filter: blur(#{$value}px);
        backdrop-filter: blur(#{$value}px);
    }
}

img.overlay {
    all: unset;
    position: relative;
    display: block;
    width: clamp(200px, 60%, 600px);
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 0 calc(var(--pad) * 2);
    background: unset;
    box-shadow: unset;
    border-radius: unset;

    @media (min-width: 700px) {
        width: 740px;
        max-width: unset;
        margin: var(--pad) var(--pad) -80px calc(var(--pad) * 3);
    }

    @media (min-width: 1100px) {
        width: 1100px;
        margin: var(--pad) var(--pad) -130px calc(var(--pad) * 3);
    }
}

img.app-icon {
    grid-area: icon;
    margin: 0;
    max-height: 57px;
    max-width: 57px;
    mask-image: url(/assets/images/site/ios-icon-mask.svg);
    mask-size: cover;

    &.large {
        @media (min-width: 700px) {
            max-height: 104px;
            max-width: 104px;
        }
    }
}

img.image--16-9 {
    aspect-ratio: 16/9;
    object-fit: cover;
}
