figure,
.composite-image {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: $padding * 2;
    
    @include tablet {
        width: containers("tablet");
        max-width: unset;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: $padding * 3;
    }
    @include desktop {
        width: containers("desktop") + 140px;
        max-width: unset;
        margin-right: -85px;
        margin-left: -85px;
        margin-bottom: $padding * 3;
    }

    &.featured-image {
        margin-bottom: $padding * 3;
    }

    img {
        display: block;
        position: relative;
        box-sizing: content-box;
        width: 100%;
        max-width: 100%;
        height: auto;
        &.padding {
            padding: $padding;
            box-sizing: border-box;
        }
    }
	
	img,
	picture source,
	picture img {
        @include material(1);
	}

}


figcaption {
    display: relative;
    margin: $padding;
    text-align: left;
    @include typography($small, "default");
    color: var(--secondary-color);
}

p > img {
    display: block;
    position: relative;
    
    @include material(1);

    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    left: 0;
    right: 0;
    
    @include tablet {
        width: containers("tablet") + 60px;
        max-width: unset;
        margin: $padding -45px;
    }
    @include desktop {
        margin-bottom: 30px;
        width: containers("desktop") + 200px;
        max-width: unset;
        margin: $padding -115px;
    }
}

.post-image {
    border-radius: $border-radius * 2 $border-radius * 2 0 0;
}

.background {
    z-index: 1;
    aspect-ratio: 2/1;
	
	&.cover {
		object-fit: cover;
	}
	&.fill {
		object-fit: fill;
	}
}

div.overlay {
    display: grid;
    position: absolute;
    justify-items: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include material(2);
    background: none;
}

div.overlay.overlay--eurovision {
	padding: $padding;
    border-radius: $border-radius * 2 $border-radius * 2 0 0;
    box-shadow: none;
}

div.overlay-5 {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

div.overlay-10 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

div.overlay-20 {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

div.overlay-50 {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

img.overlay { 
    all: unset;
    position: relative;
    display: block;
    width: clamp(200px, 60%, 600px);
}

.hero {
    display: block;
    position: relative;

    width: 100%;
    max-width: 100%;
    margin: 0 0 $padding * 2 0;
    left: 0;
    right: 0;
    
    background: unset;
    box-shadow: unset;
    border-radius: unset;

    @include tablet {
        width: containers("tablet") + 100px;
        max-width: unset;
        margin: $padding $padding - 80px $padding * 3;
    }
    @include desktop {
        margin-bottom: 30px;
        width: containers("desktop") + 200px;
        max-width: unset;
        margin: $padding $padding - 130px $padding * 3;
    }
}


img.app-icon {
    grid-area: icon;
    margin: 0;
    max-height: 57px;
    max-width: 57px;
    
    &.large {
        @include tablet-up {
            max-height: 104px;
            max-width: 104px;
        }
    }
}