p > img,
figure,
.composite-image {
    display: block;
    position: relative;
    box-sizing: border-box;
    
    --width: 100%;
    
    width: var(--w);
    max-width: 100%;
    margin: calc(var(--pad) * 2) 0;
    padding: 0;

    @media (min-width: 700px) {
        --w: 720px;
        --container: 610px;
        --m: calc(calc(var(--w) - var(--container)) / 2 * -1);
        
        max-width: unset;
        margin: calc(var(--pad) * 3) var(--m) calc(var(--pad) * 3);
    }

    @media (min-width: 1100px) {
        --w: 1100px;
        --container: 870px;
    }

}

img.hero {
    border: none;
    border-radius: unset;
}

p > img,
figure img,
figure picture {
    z-index: 100;
    border: 3px solid var(--color);
    border-radius: calc(var(--border-radius) * 2);
    padding: 0;
    overflow: hidden;
    
    &.no-styles {
        background: none;
        border: none;
    }
    
    &.fit-to-container {
        width: 100%;
        margin: 0;
    }
}

picture img {
    border: none;
}

figure:has(figcaption) {
    img:first-child,
    picture:first-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    img:nth-child(n+2),
    picture:nth-child(n+2) {
        border-radius: 0;
        border-top: 0;
    }
    img,
    picture {
        border-bottom: 0;
    }
}

p + figure {
    margin-top: var(--pad);
}

figure,
.composite-image {

    img {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    img,
	picture source,
	picture img {
        border-radius: calc(var(--border-radius) * 2);
	}

}

figcaption {
    display: block;
    position: relative;
    
    width: 100%;
    z-index: 999;
    padding: var(--pad);
    margin: 0 0 var(--pad) 0;
    line-height: 1.25;
    text-align: left;
    font-size: clamp(18px, 3vw, 24px);
    background: var(--secondary-background);
    color: var(--color);
    
    border: 3px solid var(--color);
    border-bottom-left-radius: calc(var(--border-radius) * 2);
    border-bottom-right-radius: calc(var(--border-radius) * 2);
    
    p {
        padding: 0 0 var(--pad) 0;
        line-height: 1.25;
        text-align: left;
        font-size: clamp(18px, 3vw, 24px);
        
        &::last-child {
            padding-bottom: 0;
        }
    }
}

picture .background {
    z-index: 1;
    aspect-ratio: 2/1;

    &.cover { object-fit: cover; }
    &.fill  { object-fit: fill; }
}

div.overlay {
    display: grid;
    position: absolute;
    justify-items: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius) * 2);
    background: none;

    &.overlay--eurovision {
        padding: var(--pad);
        border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
    }
}

@each $value in 5, 10, 20, 50 {
    .overlay-#{$value} {
        -webkit-backdrop-filter: blur(#{$value}px);
        backdrop-filter: blur(#{$value}px);
    }
}

img.overlay {
    all: unset;
    position: relative;
    display: block;
    width: clamp(200px, 60%, 600px);
}

img.app-icon {
    grid-area: icon;
    margin: 0;
    max-height: 57px;
    max-width: 57px;
    mask-image: url(/images/site/ios-icon-mask.svg);
    mask-size: cover;

    &.large {
        @media (min-width: 700px) {
            max-height: 104px;
            max-width: 104px;
        }
    }
}

img.image--16-9 {
    aspect-ratio: 16/9;
    object-fit: cover;
}
