input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="search"] {
    --placeholder-color: var(--secondary-color);
    --placeholder-hover: var(--brand);
    --placeholder-focus: light-dark(var(--gray-300), var(--gray-800));

    box-sizing: border-box;
    width: 100%;
    line-height: 1;
    padding: var(--pad);
    margin-bottom: calc(var(--pad) * 2);

    background: var(--background);
    color: var(--color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow--depth-1--inset);
    
    outline-offset: 3px;

    &::placeholder {
        color: var(--placeholder-color);
    }

    &:hover {
        transition: color 0.3s;
        &::placeholder {
            color: var(--placeholder-hover);
        }
    }

    &:focus {
        caret-color: var(--brand);
        outline: none;
        &::placeholder {
            color: var(--placeholder-focus);
        }
    }
    
    &:invalid {
        caret-color: var(--red);
    }
    
    &:invalid:not(:focus) {
        outline: 3px solid var(--red);
        color: var(--red);
    }

}