.key-value--heading {
    @include typography($h2, "default");
    text-align: left;
    padding: $padding * 4 0 $padding !important;
    
    &.key-value--heading--large {
        @include typography($h1, "default");
        padding: $padding * 8 0 0 !important;
    }
    
    &.key-value--heading--small {
        @include typography($h3, "default");
        padding: 0 0 $padding !important;
    }
}

.key-value {
    padding: 0;
    margin: 0;
}    
    
.key-value--item {
    display: grid;    
    
    padding: $padding 0;
	border-top: 1px solid;
	border-color: var(--secondary-borderColor);

    &.key-value--with-description {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto;
    }
    
    &.key-value--with-value {
        grid-template-columns: 1fr auto !important;
        grid-template-rows: auto;
    }
    
    &.key-value--with-description.key-value--with-value {
        grid-template-columns: 1fr auto !important;
        grid-template-rows: auto auto;
    }
    
    &.key-value--goal {
        grid-template-columns: 1fr auto !important;
        grid-template-rows: auto auto auto;
    }
    
    &:last-of-type {
        padding-bottom: 0; 
    }
    
    .full-span {
        grid-column: 1 / -1;
    }
}

a.key-value--link {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1; /* Make sure the link spans all columns */
    align-items: center;
    
    &:link,
    &:visited {
        text-decoration: none !important;
        
        .key-value--key {
            color: var(--link-hoverColor);
            font-weight: bold;
        }
        
        .key-value--value {
            @include typography($small, "default");
            color: var(--secondary-color);
        }
    }
    
    &:hover {
        text-decoration: none !important;
        .key-value--key {
            text-decoration: var(--text-decoration, underline);
        }
    }
    
    &:focus {
        .key-value--key {
            color: var(--link-focusColor);
        }
        .key-value--value {
            color: var(--link-focusColor);
        }
    }
    
    &:active {
        text-decoration: none;
        .key-value--key {
            text-decoration: none;
            color: var(--cyan-tint);
        }
    }
        
}

.key-value--key {
    @include typography($p, "default");
    text-align: left;
}

.key-value--value {
    @include typography($small, "default");
    color: var(--secondary-color);
    max-width: 60ch;
}

.key-value--key,
.key-value--value {
    padding: 0;
}

.key-value--description {
    &:last-child,
    *:last-child {
        padding: 0;
    }    
}

.key-value--with-description.key-value--with-value .key-value--description {
    @include typography($small, "default");
    color: var(--secondary-color);
}
