.collection--list.content,
.collection--list.post-title {

    display: grid;
    position: relative;

    width: 100%;
    max-width: 450px;
    padding:  26px;
    background: #fff linear-gradient(rgba(0,0,0,0.1) 1px, transparent 0) 0 26px / 100% 26px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        
    h1, li {
        font-size: 26px !important;
        padding-bottom: 26px !important;
    }

    
    @media (min-width: 700px) {
        max-width: 500px;
        padding:  32px;
        background: #fff linear-gradient(rgba(0,0,0,0.1) 1px, transparent 0) 0 32px / 100% 32px;
        
        h1, li {
            font-size: 32px !important;
            padding-bottom: 32px !important;
        }
    }
    @media (min-width: 1100px)  {
        max-width: 650px;
        padding:  44px;
        background: #fff linear-gradient(rgba(0,0,0,0.1) 1px, transparent 0) 0 44px / 100% 44px;
        
        h1, li {
            font-size: 44px !important;
            padding-bottom: 44px !important;
        }
    }

	.list-header {
		width: 100%;
	}
    .list-title {
        color: var(--strikethrough-color);
        line-height: 1;
    }
    .list-body {
        padding: 0;
    }
    .list-item {
        text-align: left !important;
        color: var(--markerpen-color);
        line-height: 1;

        &:last-child {
            padding: 0;
        }
    }
    
    .list-title,
    .list-item {
        font-family: "Permanent Marker", "Segoe Print", "Marker Felt", Chilanka, TSCu_Comic, casual, cursive;
    }
    
    ol .list-item {
        margin-left: calc(var(--pad) * 3);
        @media (min-width: 700px) {
            margin-left: calc(var(--pad) * 4);    
        }
        @media (min-width: 1100px)  {
            margin-left: calc(var(--pad) * 5);
        }
    }

    .list-item--done {
        text-decoration: line-through;
        text-decoration-style: wavy;
        text-decoration-thickness: 5px;
        text-decoration-color: var(--strikethrough-color);
    }

    .list-item--align-right {
        text-align: right;
		transform: rotate(-5deg);
    }

    .list-item--secondary {
        color: var(--strikethrough-color);
    }
}

.list-title.list {
    @media (min-width: 700px) {
        margin: calc(var(--pad) * 4) auto;
    }
}
