ul.music {
    display: grid;
    grid-template-columns: 1fr;
    @include tablet-up() {
        grid-template-columns: 1fr 1fr;
    }
    grid-gap: $container-padding * 3;
    padding: $container-padding * 2 0;
    
    li .ipod-nano {
        max-width: 300px !important;
    }
}

a.music-link {
    display: block;
    position: relative;
    
    &:link {
        color: var(--link-color);
        text-decoration: none;
    }
    &:hover * {
        color: var(--link-hoverColor);
        text-decoration: underline;
    }
    &:hover svg {
        animation: ipod-shake 0.5s;
        animation-iteration-count: 3;
        transform-origin: bottom;
    }
    &:focus * {
        outline: none;
        color: var(--background)
    }
}

@keyframes ipod-shake {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, -5px); }
  100% { transform: translate(0, 0); }
}

.ipod-nano {
    display: grid;
	margin: 0 auto;
    align-items: center;
    justify-items: center;
    
    svg {
        max-width: 200px;
        @include tablet() {
    	    max-width: 400px;
        }
	    @include desktop() {
    	    max-width: 400px;
	    }
    }
}

h1.music-metadata-title {
    @include typography($large, "default");
	margin-top: $container-padding * 2 !important;
}

h1.music-metadata-title,
p.music-metadata-artist {
    text-align: center;
    padding: 0;
    margin: 0;
}