.music {
    display: grid;
	margin: 0 auto;
    align-items: center;
    justify-items: center;
    
    svg {
        width: 100%;
        max-width: 300px;
    }
}

h1.music-metadata-title {
    @include typography($h2, "default");
	margin-top: $padding * 6 !important;
}

h1.music-metadata-title,
p.music-metadata-artist {
    text-align: center;
    padding: 0;
    margin: 0;
}