.global-navigation {
    --from-padding: calc(var(--pad) * 0.5);
    
    animation: navigation ease-out both;
    animation-timeline: scroll(block root);
    animation-range: 10px 200px;
    animation-duration: 1ms;
    
    display: flex;
    position: --webkit-sticky;
    position:          sticky;
    z-index: 1000;
    overflow: hidden;
    box-sizing: border-box;
    justify-self: end;
    
    width: fit-content;
    top: calc(var(--pad) * 0.5);
    margin: calc(var(--pad) * 0.5);
    padding: 0;
    
    border: 1px solid var(--translucent-border);
    border-radius: 50px;
    box-shadow:     inset 10px 10px 25px 0px rgba(255,255,255,1),
                    inset -10px -10px 25px 0px rgba(0,0,0,0.3),
                    0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     
    @media (max-width: 699px) {
        --from-padding: 0px;
        width: calc(100% - var(--pad));
    }
}

/* This is the main menu bar */
.navigation {
    display: flex;
    padding: 0;    
    margin: 0;
    align-items: center;
    width: 100%;
    gap: var(--pad);
    justify-content: space-between !important;
}

.navigation--wordmark {
    --card-padding: 11.5px;
    
    display: block;
    justify-self: start;
    z-index: 1000;
    margin: 0;
    padding: var(--card-padding) calc(var(--pad));
    
    font-size: 32px;
	line-height: 32px;
}

.navigation--wordmark--link {
    position: relative;
    display: inline-block;
    
    font-size: 32px;
	line-height: 32px;
    
    font-weight: 900 !important;
    
    &:link,
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &:hover:focus {
        text-decoration: underline;
		outline-offset: 3px;
    }
    &:focus {
        outline: 3px solid var(--link-outlineColor);
		outline-offset: 0;
    }
}

.navigation--links {
    --card-padding: calc(var(--pad) * 0.5);
    --border-radius: 50px;
    
    display: flex;
    justify-self: end;
    z-index: 1000;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: var(--card-padding);
    grid-column: -2 / -1;
}

.navigation--links-item {
    line-height: 32px;
    margin-inline-start: calc(var(--pad) * 0.5);
    &:first-of-type {
        margin: 0;
    }
    
    a:link,
    a:visited {
        box-shadow: none !important;
    }
}

.navigation--icon {
    display: grid;

    height: 40px;
    width: 40px;
    
    padding: 10px;
    margin: 0;
    
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
        
    svg {
        width: 20px;
        transform-origin: center;
        transition: 0.2s all;
    }
    
    svg path {
        fill: var(--background);
        color: var(--background);
    }
    
    &:hover svg path {
        fill: var(--background);
        color: var(--background);
    }
    
    &:active svg path {
        fill: var(--brand-tint);
        color: var(--brand-tint);
    }
    
    &:focus svg path {
        fill: var(--background);
        color: var(--cyan);
    }
}

/* This is the menu page */
.navigation--menu {
    display: grid;
    grid-template-rows: auto;
}

.navigation--section {
    display: grid;
    
}

.navigation--section--header {
    text-align: left;
}

ul.navigation--section--links {
    padding: 0;
    margin: 0;
}

li.navigation--section--link {
    padding: 0;
}