.global-navigation{

    position: --webkit-sticky;
    position:          sticky;
    
    top: 0;
    
    z-index: 1000;
    
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    
    box-shadow: none;
    animation: header linear both;
    animation-timeline: scroll(block root);
    animation-duration: 1ms; /* Required in Firefox */
    animation-range: 10px 100px;

}

// This is the main menu bar
.navigation {
    display: grid;
    
    padding: $padding;
    margin: 0;
    
    grid-template-columns: 1fr auto;
    grid-gap: $padding;
    
    align-items: center;
}

.navigation--links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.navigation--links-item {
    line-height: 32px;
    margin-inline-start: $padding;
}

.navigation--wordmark {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation--wordmark--link {
    position: relative;
    display: inline-block;
    
    font-size: 32px;
	line-height: 32px;
    
    font-weight: 900 !important;
    
    &:link,
    &:visited {
        color: var(--link-color);
        text-decoration: none;
    }
    &:hover {
        color: var(--link-hoverColor);
        text-decoration: underline;
    }
    &:hover:focus {
        text-decoration: underline;
		outline-offset: 3px;
    }
    &:focus {
        color: var(--link-focusColor);
        background: var(--link-focusBackground);
        outline: 3px solid var(--link-outlineColor);
		outline-offset: 0;
    }
}

.navigation--icon {
    position: relative;
    display: flex;
}

.navigation--icon {
    height: 28px;
    width: 28px;
    
    padding: 2px;
    margin: 0;
    
    all: unset;
    display: grid;
    box-sizing: border-box;
    border: 1px solid transparent;
    height: 30px;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
    
    svg {
        transform-origin: center;
        transition: 0.2s all;
    }
    
    svg path {
        fill: var(--link-color);
    }
    
    &:hover {
        cursor: pointer;
    }
    
    &:hover svg path,
    &:active svg path {
        fill: var(--cyan);
        color: var(--cyan);
    }
    
    &:focus svg path {
        fill: var(--background);
        color: var(--cyan);
    }
}

// This is the menu page
.navigation--menu {
    display: grid;
    grid-template-rows: auto;
}

.navigation--section {
    display: grid;
    
}

.navigation--section--header {
    text-align: left;
}

ul.navigation--section--links {
    padding: 0;
    margin: 0;
}

li.navigation--section--link {
    padding: 0;
}