.global-navigation {    
    animation: global-navigation ease-out both;
    animation-timeline: scroll(block root);
    animation-range: 0px 200px;
    animation-duration: 1ms;
    
    display: flex;
    position: --webkit-sticky;
    position:          sticky;
    z-index: 1000;
    box-sizing: border-box;
    justify-self: center;
    
    width: 100%;
    top: var(--pad);
    margin: 0 auto;

    padding: 0 var(--pad); 

    max-width: 930px;
}

/* This is the main menu bar */
.navigation {
    animation: navigation ease-in both;
    animation-timeline: scroll(block root);
    animation-range: 0px 50px;
    animation-duration: 1ms;
    
    display: flex;
    padding: calc(var(--pad) * 0.4) calc(var(--pad) * 0.5) calc(var(--pad) * 0.6) var(--pad);

    margin: 0;
    align-items: center;
    width: 100%;
    gap: var(--pad);
    justify-content: space-between !important;
    
    background: linear-gradient(to right, var(--background--translucent) 0px, transparent 100%);
    border: 3px solid var(--color);
    border-radius: calc(var(--border-radius) * 2);
    backdrop-filter: blur(50px) contrast(1.25) saturate(2);
    box-shadow: var(--shadow-deep);
}

.navigation--wordmark {    
    display: block;
    justify-self: start;
    z-index: 1000;
    margin: 0;
    padding: 0;
        
    font-size: 32px;
	line-height: 32px;
    
    margin-bottom: -5px;
    border-radius: calc(var(--border-radius) * 1.25);
}

.navigation--wordmark--link {
    position: relative;
    display: inline-block;
    
    font-size: 32px;
	line-height: 32px;
    
    font-weight: 900 !important;
    
    &:link,
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &:hover:focus {
        text-decoration: underline;
		outline-offset: 3px;
    }
    &:focus {
        outline: 3px solid var(--brand);
    }
}

.navigation--links {
    display: flex;
    justify-self: end;
    z-index: 1000;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: -2 / -1;
}

.navigation--links-item {
    line-height: 32px;
    margin-inline-start: calc(var(--pad) * 0.5);
    &:first-of-type {
        margin: 0;
    }
}

.navigation--icon {
    display: grid;

    height: 50px;
    width: 50px;
    
    padding: 10px;
    margin: 0;
    
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: calc(var(--border-radius) * 1.25);
        
    svg {
        width: 20px;
        transform-origin: center;
        transition: 0.2s all;
    }
    
    svg path {
        fill: var(--button-color);
    }
    
    &:hover svg path {
        fill: var(--button-hoverColor);
    }
    
    &:active svg path {
        fill: var(--brand-tint);
    }
    
    &:focus svg path {
        fill: var(--button-hoverColor);
    }
}

/* This is the menu page */
.navigation--menu {
    display: grid;
    grid-template-rows: auto;
}

.navigation--section {
    display: grid;
    
}

.navigation--section--header {
    text-align: left;
}

ul.navigation--section--links {
    padding: 0;
    margin: 0;
}

li.navigation--section--link {
    padding: 0;
}