// Note colours
.post-it.yellow {
    --post-it--top:     hsl(51, 100%, 48.5%);
    --post-it--body:    hsl(51, 100%, 50%);
    --post-it--corner:    hsl(51, 100%, 70%);
}

.post-it.green {
    --post-it--top:     hsl(212, 69%, 64%);
    --post-it--body:    hsl(212, 69%, 62%);
    --post-it--corner:    hsl(212, 70%, 74%);
}

.post-it.cyan {
    --post-it--top:     hsl(70, 78%, 68%);
    --post-it--body:     hsl(70, 73%, 66%);
    --post-it--corner:     hsl(70, 100%, 73%);
}

.post-it.magenta {
    --post-it--top:     hsl(327, 76%, 59%);
    --post-it--body:    hsl(327, 70%, 56%);
    --post-it--corner:    hsl(327, 100%, 75%);
}

.note.content,
.collection--note.post-title {
    display: block;
    position: relative;
	justify-self: center;
    
    width: 275px;
    @media (min-width: 700px) {
        width: 450px;
    }
    @media (min-width: 1100px)  {
        width: 638px;
    }
}

.post-it {
    
    display: grid;
    position: relative;
    
    align-content: center;
    
    transform: rotate(2deg);
    
    padding: 60px var(--pad) var(--pad) !important;
    outline-offset: 0;
    height: 275px;
    
    align-self: center;
    font-size: clamp(23px, 4.5vw, 44px);
    font-family: "Permanent Marker", "Segoe Print", "Marker Felt", Chilanka, TSCu_Comic, casual, cursive;
    color: var(--black);
    line-height: 1.1;
    
    background: var(--post-it--body);
    border: 3px solid var(--color);
    
    --corner-fold-size: 50px;
    --corner-fold-size--border: calc(var(--corner-fold-size)/2 + 3px);
    clip-path: polygon(
        0 0px,
        0 0,
        100% 0,
        100% var(--corner-fold-size),
        100% calc(100% - var(--corner-fold-size)),
        calc(100% - var(--corner-fold-size)) 100%,
        0 100%,
        0 100%
    );
        
    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 60px;
        background: var(--post-it--top);
    }
    
    &::after {
        display: block;
        position: absolute;
        content: "";
        width: var(--corner-fold-size);
        height: var(--corner-fold-size);
        background: linear-gradient(
            135deg,
            var(--post-it--corner) var(--corner-fold-size--border),
            var(--color) var(--corner-fold-size--border),
            var(--color) 100%
        );
        border: 3px solid var(--color);
        bottom: -3px;
        right: -3px;
    }

    @media (min-width: 700px) {
        --corner-fold-size: 70px;
        --corner-fold-size--border: 42px;
        height: 300px;
        padding: 72px calc(var(--pad) * 1.5) calc(var(--pad) * 1.5) !important;
        
        &::before {
            height: 72px;
        }
    }
    @media (min-width: 1100px)  {
        --corner-fold-size: 80px;
        --corner-fold-size--border: 49px;
        height: 425px;
        padding: 102px calc(var(--pad) * 2) calc(var(--pad));
            
        &::before {
            height: 102px;
        }
    }
    
}