.object {
    margin: calc(var(--pad) * 4) 0;
    width: 100%;
}

.object {
    &.object--ipod-nano,
    &.object--game-boy, 
    &.object--iOS {
        max-width: 300px;
    }
    
    &.object--calendar-now,
    &.object--calendar-weeknotes {
        max-width: 600px;
    }
    
    &.object--calendar-now,
    &.object--calendar-weeknotes,
    &.object--ipod-nano,
    &.object--game-boy,
    &.object--iOS,
    &.object--list,
    &.object--note {
        margin-inline: auto;
    }
}


.object-metadata {
    text-align: center;
}

 svg#gameboy {
    --gb-power: rgb(74,159,101);    
    --gb-shell--stroke: light-dark(rgb(40,40,40), rgb(175,175,175));
    --gb-shell--fill: light-dark(rgb(50,50,50), rgb(220,220,220));
    --gb-lens--fill-1: light-dark(rgb(20,20,20), rgb(170,170,170));
    --gb-lens--fill-2: light-dark(rgb(180,180,180), rgb(150,150,150));
    --gb-lens--fill-3: light-dark(rgb(65,65,65), rgb(205,205,205));
    --gb-lens--fill-4: light-dark(rgb(0,0,0), rgb(220,220,220));
    --gb-dpad--fill-1: light-dark(rgb(15,15,15), rgb(215,215,215));
    --gb-dpad--fill-2: light-dark(rgb(20,20,20), rgb(155,155,155));
    --gb-dpad--stroke: light-dark(rgb(40,40,40), rgb(190,190,190));
    --gb-start-select--fill: light-dark(rgb(15,15,15), rgb(170,170,170));
    --gb-start-select--stroke: light-dark(transparent, rgb(255,255,255));
    --gb-abxy--fill-1: light-dark(rgb(120,120,120), rgb(255,255,255));
    --gb-abxy--fill-2: light-dark(rgb(50,50,50), rgb(210,210,210));
    --gb-abxy--stroke: light-dark(transparent, rgb(225,225,225));
    --gb-shared-fill-black: light-dark(rgb(0,0,0), rgb(170,170,170)); 
    --gb-shared-fill-grey: light-dark(rgb(130,130,130), rgb(210,210,210)); 
    --gb-shared-fill-dark-grey: light-dark(rgb(50,50,50), rgb(225,225,225));
    --gb-shared-stroke: light-dark(rgb(40,40,40), rgb(210,210,210));   
}