.polka {
    --dot-bg: var(--background);
    --dot-color: light-dark(var(--gray-200), var(--gray-800));
    --dot-size: 2px;
    --dot-space: 12px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
    background-position: center;    
}