progress[value] {

    position: relative;
    display: block;

    -webkit-appearance: none;
            appearance: none;

    width: 100%;
    max-width: 600px;

    padding: 0;
    margin: var(--pad) 0;
    
    height: 36px;

    &::-webkit-progress-bar {
        background: var(--secondary-background);
        border: 3px solid var(--color);
        border-radius: 1000px;
        padding: 4px;
    }

    &::-webkit-progress-value {
        border: 3px solid var(--color);
        border-radius: 1000px;
        background: var(--brand);
        // box-shadow: var(--shadow-deep);
    }
    
}

.progress--stretch {
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--pad) * 0.5);
}

.totaliser {
    max-width: 600px;
    margin-top: calc(var(--pad) * 2);
    padding: var(--pad);
    
    progress[value]::-webkit-progress-bar {
        background: var(--white);
    }
}