fieldset.radios {

    padding: 15px 10px 10px;
    margin-bottom: calc(var(--pad) * 2);

    @media (min-width: 700px) {
        padding: 20px;
    }

    div.radio-input {

        display: inline-block;
        width: 100%;

        margin-bottom: 10px;

        @media (min-width: 700px) {
            float: left;
            clear: none;
            width: 50%;

            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-bottom: 0px;
            }
        }

    }

    @include clearfix;

}

input[type="radio"] {
    position: absolute;

    z-index: 1;
    top: -2px;
    left: -2px;

    width: 44px;
    height: 44px;
    margin: 0;

    opacity: 0;

    cursor: pointer;

    ~ label {
        display: inline-block;
        height: 40px;
		line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px 20px;
        cursor: pointer;
        // remove 300ms pause on mobile
        touch-action: manipulation;

        font-weight:    600;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;

            width: 40px;
            height: 40px;
            
            border-radius: 50%;
            background: var(--background);
            border: 2px solid var(--color);
            box-shadow: var(--shadow-shallow);
        }

        &::after {
            content: "";

            position: absolute;
            top: 8px;
            left: 8px;

            width: 0;
            height: 0;

            border-radius: 50%;
            background: var(--color);
        }

    }

    &:focus + label::before {
        border-width: 4px;
        box-shadow: 0 0 0 3px var(--brand);
    }

    &:hover + label::before {
        box-shadow: 0 0 0 3px var(--brand);
        background: var(--background);
        border-width: 2px;
    }

    &:checked + label::before {
        box-shadow: none;
    }

    &:checked + label::after {
        border: 12px solid var(--brand);
    }

    ~ .label-hint,  {
        padding-right: 15px;
        padding-left: 15px;
    }

}


.radio-input {
    display: block;
    position: relative;

    min-height: 40px;

    @extend p;
    padding: 0;

    margin-bottom: 30px;
    clear: left;

    padding-left: 40px;

    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}
