fieldset.radios {

    padding: 15px 10px 10px;
    margin-bottom: calc(var(--pad) * 2);

    @media (min-width: 700px) {
        padding: 20px;
    }

    div.radio-input {

        display: inline-block;
        width: 100%;

        margin-bottom: 10px;

        @media (min-width: 700px) {
            float: left;
            clear: none;
            width: 50%;

            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-bottom: 0px;
            }
        }

    }

    @include clearfix;

}

input[type="radio"] {
    position: absolute;

    z-index: 1;
    top: -2px;
    left: -2px;

    width: 44px;
    height: 44px;
    margin: 0;

    opacity: 0;

    cursor: pointer;

    ~ label {
        display: inline-block;
        height: 40px;
		line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px 20px;
        cursor: pointer;
        // remove 300ms pause on mobile
        touch-action: manipulation;

        font-weight:    600;

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;

            width: 40px;
            height: 40px;
            
            box-shadow: 
                .5px .5px 1px rgba(255,255,255,0.5),
                -.5px -.5px 1px #00000026,
                inset .222px .222px .314px -.5px #0003,
                inset .605px .605px .856px -1px #0000002e,
                inset 1.329px 1.329px 1.88px -1.5px #00000040,
                inset 2.95px 2.95px 4.172px -2px #0000001a,
                inset 2.5px 2.5px 3px -2.5px #00000026,-.5px -.5px 0 0 rgb(0 0 0/10%);
            
            border-radius: 50%;
            background: var(--background);
        }

        &::after {
            content: "";

            position: absolute;
            top: 8px;
            left: 8px;

            width: 0;
            height: 0;

            border: 12px solid var(--radio-color);
            border-radius: 50%;
            opacity: 0;
            background: var(--color);
            
            box-shadow: 
                inset .5px .5px 1px #fff,
                inset -.5px -.5px 1px #00000026,
                .222px .222px .314px -.5px #0003,
                .605px .605px .856px -1px #0000002e,
                1.329px 1.329px 1.88px -1.5px #00000040,
                2.95px 2.95px 4.172px -2px #0000001a,
                2.5px 2.5px 3px -2.5px #00000026,-.5px -.5px 0 0 rgb(0 0 0/10%);
        }

    }

    &:focus + label::before {
        border-width: 4px;
        box-shadow: 0 0 0 3px var(--radio-color);
    }

    &:hover + label::before {
        box-shadow: 0 0 0 3px var(--radio-color);
        background: var(--background);
        border-width: 2px;
    }

    &:checked + label::after {
        opacity: 1;
    }

    ~ .label-hint,  {
        padding-right: 15px;
        padding-left: 15px;
    }

}


.radio-input {
    display: block;
    position: relative;

    min-height: 40px;

    @extend p;
    padding: 0;

    margin-bottom: 30px;
    clear: left;

    padding-left: 40px;

    &:last-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}
