.skip-link {
    --skiplink-color: light-dark(var(--white), var(--black));
    --skiplink-background: var(--brand); 
    
    z-index: 999999;
    display: block;
    width: 100%;
    text-align: left;

    &:focus,
    &:hover {
        background: var(--skiplink-background);
        color: var(--skiplink-color);
    }
    
    p {
        color: var(--background);
        padding: var(--pad);
    }
}