.speech-bubbles--webmentions {
    grid-area: webmentions;
}

.speech-bubbles {
    display: grid;
    grid-gap: 0 var(--pad);
    grid-template-rows: auto auto auto;
}

.speech-bubble {
    position: relative;
	display: inline-block;
    clear: both;
    
    padding: calc(var(--pad) * 0.5) var(--pad);
    margin-bottom: calc(var(--pad) * 0.5);
    border-radius: 15px;
	
    color: var(--text-color);
    background: var(--speechBubble-background);
    
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
    & :is(h1, h2, h3, h4, h5, h6) {
        font-size: clamp(32px, 3vw, 40px);
        padding: var(--pad) !important;
        text-align: left;
        font-weight: bold;
    } 
    
    & a:link,  
    & a:visited {
        color: var(--speechBubble-linkColor);
    }
    & a:hover {
        color: var(--speechBubble-linkColor-hover);
    }
    & a:focus {
        color: var(--speechBubble-linkColor-focus);
        background: var(--speechBubble-linkBackground);
    }
    
    &:last-child {
        margin-bottom: 0;
    
        &:before,
        &:after {
            content: "";
            position: absolute;
        }
    }

    &:before {
		z-index: 2;
        bottom: -2px;
        height: 15px;
        -webkit-transform: translate(0, -2px);
    }

    &:after {
        z-index: 3;
        bottom: -2px;
        background:var(--background);
        width: 10px;
        height: 20px;
        -webkit-transform: translate(-30px, -2px);
    }
}

ol,
ul {  
    &.speech-bubble {
        padding-left: clamp(45px, 3.25vw, 55px);
        & li {
            margin-bottom: var(--pad);
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                position: absolute;
                margin-left: calc(clamp(30px, 3vw, 40px) * -1);
            }   
        }
    }
}

ul.speech-bubble li::before {
    content: "\2014";
}

a.speech-bubble {   
    &:focus:hover {
        & :is(h1, h2, h3, h4, h5, h6) {
            color: var(--speechBubble-linkColor-focus);
        }
    }
    &:focus,
    &:hover {
        outline-width: 3px !important;
    }
    
    &:last-child {
        margin-bottom: 0;
    
        &:before,
        &:after {
            content: "";
            position: absolute;
        }
    }
    
    & img.speech-bubble--image {
        border-top-right-radius: calc(var(--border-radius));
        border-top-left-radius: calc(var(--border-radius));
    }
    
    &:has(img.speech-bubble--image) {
        padding: 0;
        & :is(h1, h2, h3, h4, h5, h6) {
            padding: calc(var(--pad) * 0.5) var(--pad) calc(var(--pad) * 0.5) var(--pad);
        }
    }
    
    &:has(:not(img.speech-bubble--image)) {
        padding: 0;
    }
}

img.speech-bubble {
    padding: 0;
    border-radius: calc(var(--border-radius) * 2);
}

.speech-bubbles--from-them {
    grid-template-columns: auto 3fr;
    grid-template-areas: ". author" "photo content";
    
    .speech-bubbles--author {
        text-align: left;
    }
    
    &.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "date" "author" "content";
    }
    
    &.speech-bubbles--with-webmentions {
        grid-template-columns: auto 3fr;
        grid-template-areas: ". author" "photo content" ". webmentions";
    }
    
    &.speech-bubbles--with-webmentions.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "author" "content" "webmentions";
    }
    
    @media (min-width: 700px) {
        grid-template-columns: auto 3fr 1fr;
        grid-template-areas: 
            "date date date" 
            ". author ." 
            "photo content .";
        
        &.speech-bubbles--no-photo {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "author ." "content .";
        }
    
        &.speech-bubbles--with-webmentions {
            grid-template-columns: auto 3fr 1fr;
            grid-template-areas: 
                "date date date" 
                ". author ." 
                "photo content ."
                ". webmentions .";
        }
        
        &.speech-bubbles--with-webmentions.speech-bubbles--no-photo {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "author ." "content ." "webmentions .";
        }
    }

}

.speech-bubbles--from-me {
    grid-template-columns: 3fr auto;
    grid-template-areas: "author ." "content photo";
    
    &.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "author" "content";
    }
    
    &.speech-bubbles--with-webmentions {
        grid-template-columns: 3fr auto;
        grid-template-areas: "author ." "content photo" "webmentions .";
    }
    
    &.speech-bubbles--with-webmentions.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "author" "content" "webmentions";
    }
    
    @media (min-width: 700px) {
        grid-template-columns: 1fr 3fr auto;
        grid-template-areas: 
            "date date date" 
            ". author ." 
            ". content photo";
        
        &.speech-bubbles--no-photo {
            grid-template-columns: 1fr 3fr;
            grid-template-areas: ". author" ". content";
        }
    
        &.speech-bubbles--with-webmentions {
            grid-template-columns: 1fr 3fr auto;
            grid-template-areas: 
                "date date date" 
                ". author ." 
                ". content photo"
                ". webmentions .";
        }
    }
}

.speech-bubbles--from-them .speech-bubble {
    --text-color: var(--black);
    --speechBubble-background: light-dark(var(--gray-100), var(--gray-300));
    --speechBubble-linkColor: var(--black);
    --speechBubble-linkColor-hover: var(--brand);
    --speechBubble-linkColor-focus: var(--white);
    --speechBubble-linkBackground: light-dark(var(--brand), var(--brand-tone));
    
    float: left;
    
    &:before {
        left: -7px;
        border-bottom-right-radius: 16px 14px;
        border-left: 20px solid var(--speechBubble-background);
    }
    &:after {
        left: 20px;
        border-bottom-right-radius: 10px;
    }
}

.speech-bubbles--from-me .speech-bubble {
    --text-color: var(--white);
    --speechBubble-background: light-dark(var(--brand), var(--brand-tone));
    --speechBubble-linkColor: var(--white);
    --speechBubble-linkColor-hover: var(--white);
    --speechBubble-linkColor-focus: light-dark(var(--brand), var(--brand-tone));
    --speechBubble-linkBackground: var(--white);
    
    float: right;

    &:before {
        right: -7px;
        border-bottom-left-radius: 16px 14px;
        border-right: 20px solid var(--speechBubble-background);
    }
    &:after {
        right: -40px;
        border-bottom-left-radius: 10px;
    }
}

.speech-bubbles--author {
    grid-area: author;
    padding: calc(var(--pad) * 2) var(--pad) calc(var(--pad) * 0.5) var(--pad);
}

.speech-bubbles--from-me .speech-bubbles--author {
    text-align: right;
}

.speech-bubbles--content {
    grid-area: content;
}

.speech-bubbles--speaker {
    align-content: flex-end;
    grid-area: photo;

    .u-photo {
        z-index: 100;
        position: sticky;
        top: auto;
        bottom: var(--pad);
    }

}

.u-photo {
    width: 50px;
    height: 50px;
    
    background: var(--gray-300);
    border-radius: 100%;
    
    @media (min-width: 768px) {
        &.large {
            width: 100px;
            height: 100px;
        }
    }
}

.speech-bubbles--from-me .u-photo {
    padding-top: 5px;
}

ol, ul {
    .speech-bubble {
        padding-left: calc(var(--pad) * 3);
        
        @media (min-width: 700px) {
            padding-left: calc(var(--pad) * 4);
        }
    }
}