.speech-bubbles {
    display: grid;
    
    grid-gap: 0 $container-padding;
    grid-template-rows: auto auto auto;
    
    &:last-of-type {
        margin-bottom: $container-padding * 4;
    }
}

.speech-bubbles--with-webmentions.speech-bubbles--no-photo {
    grid-template-columns: auto;
    grid-template-areas: "author" "content" "webmentions";
}

.speech-bubbles--from-them {
    grid-template-columns: auto 3fr;
    grid-template-areas: ". author" "photo content";
    
    &.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "date" "author" "content";
    }
    
    &.speech-bubbles--with-webmentions {
        grid-template-columns: auto 3fr;
        grid-template-areas: ". author" "photo content" ". webmentions";
    }

    @include tablet-up() {
        grid-template-columns: auto 3fr 1fr;
        grid-template-areas: 
            "date date date" 
            ". author ." 
            "photo content .";
        
        &.speech-bubbles--no-photo {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "author ." "content .";
        }
    
        &.speech-bubbles--with-webmentions {
            grid-template-columns: auto 3fr 1fr;
            grid-template-areas: 
                "date date date" 
                ". author ." 
                "photo content ."
                ". webmentions .";
        }
        
        &.speech-bubbles--with-webmentions.speech-bubbles--no-photo {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "author ." "content ." "webmentions .";
        }
    }
    
    .speech-bubbles--author {
        text-align: left;
    }
}

.speech-bubbles--from-me {
    grid-template-columns: 3fr auto;
    grid-template-areas: "author ." "content photo";
    
    &.speech-bubbles--no-photo {
        grid-template-columns: auto;
        grid-template-areas: "author" "content";
    }
    
    &.speech-bubbles--with-webmentions {
        grid-template-columns: 3fr auto;
        grid-template-areas: "author ." "content photo" "webmentions .";
    }
    
    @include tablet-up() {
        grid-template-columns: 1fr 3fr auto;
        grid-template-areas: 
            "date date date" 
            ". author ." 
            ". content photo";
        
        &.speech-bubbles--no-photo {
            grid-template-columns: 1fr 3fr;
            grid-template-areas: ". author" ". content";
        }
    
        &.speech-bubbles--with-webmentions {
            grid-template-columns: 1fr 3fr auto;
            grid-template-areas: 
                "date date date" 
                ". author ." 
                ". content photo"
                ". webmentions .";
        }
    }
    
    .speech-bubbles--author {
        text-align: right;
    }
}

.speech-bubbles--author {
    grid-area: author;
    margin-top: $container-padding;

}
.speech-bubbles--content {
    grid-area: content;
}
.speech-bubbles--speaker {
    align-content: flex-end;
    grid-area: photo;
}
.speech-bubbles--webmentions {
    grid-area: webmentions;
}

.speech-bubbles--speaker .u-photo {
    z-index: 100;
    position: sticky;
    top: auto;
    bottom: $container-padding;
    
    width: 50px;
    height: 50px;
    
    &.large {
        width: 70px;
        height: 70px;
        @include tablet-up() {
            width: 100px;
            height: 100px;
        }
    }
    &.padding {
        padding: $container-padding * 0.5;
    }
    margin-bottom: $container-padding;
    background: var(--secondary-background);
    border-radius: 100%;
}

.speech-bubble {
    position: relative;
	display: inline-block;
    padding: $container-padding * 0.5 $container-padding;
    margin-bottom: $container-padding * 0.5;
    @include typography($p);
    border-radius: $border-radius * 2;
	
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
    &:last-child {
        margin-bottom: $container-padding;
    }
    
    &.speech-bubble--no-padding {
        padding: 0;
    }
    blockquote {
        background: none !important;
    }
}

.speech-bubble:last-child:before,
.speech-bubble:last-child:after {
    content: "";
    position: absolute;
}

.speech-bubble:after {
    background:var(--background);
    width: 10px;
    height: 20px;
    -webkit-transform: translate(-30px, -2px);
}

.speech-bubbles--from-them .speech-bubble {
    clear: both;
    float: left;
	color: var(--speechBubble-fromThemColor);
    background: var(--speechBubble-fromThemBackground);
    
    &:before {
		z-index: 2;
        bottom: -2px;
        left: -7px;
        height: 15px;
        border-left: 20px solid var(--speechBubble-fromThemBackground);
        border-bottom-right-radius: 16px 14px;
        -webkit-transform: translate(0, -2px);
    }

    &:after {
        z-index: 3;
        bottom: -2px;
        left: 20px;
        border-bottom-right-radius: 10px;
    }

    * {
		color: var(--speechBubble-fromThemColor);
	}
}

.speech-bubbles--from-me .speech-bubble {
    clear: both;
    float: right;
	color: var(--speechBubble-fromMeColor);
    background: var(--speechBubble-fromMeBackground);
    
    &:before {
		z-index: 2;
        bottom: -2px;
        right: -7px;
        height: 15px;
        border-right: 20px solid var(--speechBubble-fromMeBackground);
        border-bottom-left-radius: $border-radius * 2 $border-radius * 2 - 3px;
        -webkit-transform: translate(0, -2px);
    }

    &:after {
        z-index: 3;
        bottom: -2px;
        right: -40px;
        width: 10px;
        height: 20px;
        border-bottom-left-radius: $border-radius * 2;
    }
    
    a {
        &:link,
	    &:visited {
            color: var(--speechBubble-fromMeLinkColor);
        }
        &:focus {
            color: var(--speechBubble-fromMeLinkFocusColor);
            background: var(--speechBubble-fromMeLinkBackground);
            outline: 3px solid var(--speechBubble-fromMeLinkBackground);
        } 
    }
}

.speech-bubble a {
	&:link,
	&:visited {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: underline;
	}
}

.speech-bubble .post-title {
    @include typography($card-title);
	padding: 0 $container-padding * 0.8 !important;
}

.speech-bubble blockquote,
.speech-bubble header,
.speech-bubble .post-title,
.speech-bubble .text {
    background: var(--speechBubble-fromThemBackground);
}

.speech-bubble .text {
    padding: $container-padding * 0.5 $container-padding $container-padding * 0.5 $container-padding * 0.4;
    
    p:last-child {
        padding: 0;
    }
}