nav.toggles {
    position: -webkit-sticky;
    position: sticky;
    overflow-x: scroll;
    top: calc(71px + var(--pad) + var(--pad));
    grid-column: full-width;
    text-align: center;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

ul.toggles {
    display: inline-flex;
    width: fit-content;
    flex-wrap: nowrap;
    grid-gap: calc(var(--pad) * 0.4);          
    justify-content: flex-start;
    padding: calc(var(--pad) * 0.2);
    margin: 0 var(--pad);
    border-radius: calc(var(--border-radius) * 2);
    border-shape: squircle;
    border: var(--border-width) solid var(--color);
    background: var(--background--translucent);
    backdrop-filter: blur(50px) contrast(1.25) saturate(2);
    
    & li {
        display: block;
        text-wrap: nowrap;
    }
    
    & li a.toggle {
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding: calc(var(--pad) * 0.4) calc(var(--pad) * 0.6);
        border-radius: calc(var(--border-radius) * 1.5);
        border: var(--border-width) solid transparent;
        
        &:link,
        &:hover {
            text-decoration: none;
        }
        
        &:hover {
            border: var(--border-width) solid var(--brand);
        }
        
        &:active {
            color: var(--color--inverse);
            background: var(--brand);
        }
        
        &.active {
            border: var(--border-width) solid var(--color);
            background: var(--background);
            
            &:hover {
                border: var(--border-width) solid var(--brand);
            }
            
            &:focus {
                color: var(--color--inverse);
                border: var(--border-width) solid var(--background);
                background: var(--brand);
            }
            
            &:active {
                color: var(--color--inverse);
                background: var(--brand);
            }
        }
        
    }
}