article.interaction {
	padding: var(--pad) 0;
}

.replies .interactions {
	padding: 0 0 calc(var(--pad) * 3);
}

.interactions.replies #webmentions-footer {
    display: grid;
    position: sticky;
    z-index: 500;
    bottom: 0;
    top: auto;
    padding: var(--pad) 0;
    background: var(--background);
    border-top: var(--border-width) solid var(--color);
}

.h-entry.list .interactions.counts,
.h-entry.note .interactions.counts,
.h-entry.photo .interactions.counts {
	padding: var(--pad) var(--pad) 0;
}