.submit-webmention {
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: "label questionmark questionmark" "input input button";
	grid-gap: var(--pad);
}

.submit-webmention label.label {
	grid-area: label;
	padding: 0;
    line-height: 1;
}

.submit-webmention input {
	grid-area: input;
	margin: 0;
}

.submit-webmention button {
	grid-area: button;
    display: flex;
    align-items: center;
    justify-content: center;
	align-self: flex-end;
	aspect-ratio: 1 / 1;
	padding: 12px;
	height: 100%;
        
    svg {
        width: 40px;
    }
}

.submit-webmention a {
    grid-area: questionmark;
    text-align: right;
    line-height: 1;
}