---
layout: "default"
---

<article id="post-content" class="grid {{ collection }} h-entry e-content">
    
    <h1 class="page-title p-name">{{ title }}</h1>
        
    <section class="speech-bubbles speech-bubbles--from-me margin-bottom" style="--mult: 4;">
        <section class="speech-bubbles--content p-content">
            {{ content | replace: '<p>', '<p class="speech-bubble">' }}
        </section>
        <section class="speech-bubbles--speaker">
            <img class="u-photo large" alt="{{ site.avatar.alt }}" loading="lazy" src="{{ site.url | append: site.avatar.image }}">
        </section>
    </section>
    
    <section>
        
        {% for item in list %}
            <header>
                <h2 id="{{ item.name | slugify }}" class="key-value--heading">{{ item.name }}</h2>
                {% if item.description %}{{ item.description | markdownify }}{% endif %}
            </header>
            <ul class="key-value">
                {% for item in item.items %}
                
                {% assign start-date = item.dates.start | date: "%B %Y" %}
                {% assign end-date = item.dates.end | date: "%B %Y" | default: "present" %}
                
                {% assign key-value--key = item.title %}
                {% assign key-value--value = start-date | append: " to " | append: end-date %}
                {% assign key-value--description = item.organisation %}
                
                <li class="key-value--item key-value--with-value key-value--with-value--large key-value--with-description">
                    <h3 id="{{ item.title | slugify }}" class="key-value--key">{{ key-value--key }}</h3>
                    <div class="key-value--description">
                        {{ key-value--description | markdownify }}
                    </div>
                    {{ key-value--value | markdownify | replace: '<p>', '<p class="key-value--value small-text secondary-text">' }}
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        
        {% for type in collection %}
            <header>
                <h1 id="{{ type.name | slugify }}" class="key-value--heading key-value--heading--large">{{ type.name }}</h1>
            </header>
            <section>
            {% assign roles = type.items | sort: "date" | group_by: "data.organisation" | reverse %}
            {% for org in roles %}
        
                {% assign jobs = org.items | sort: "date" | reverse %}
                {% for job in jobs %}
                    {% if forloop.first %}
                    <header>
                        <h2 class="key-value--heading">{{ job.data.organisation }}</h2>
                    </header>
                    <ul class="key-value">
                    {% endif %}
                        <li class="key-value--item key-value--item--with-description">
                            <h3 class="key-value--key">{{ job.data.title }}</h3>
                            <div class="key-value--description">
                                {% if job.data.dates.end == "present" %}
                                <p class="datetime"><time datetime="{{ job.data.dates.start | date: '%Y-%m-%d' }}">{{ job.data.dates.start | date: '%B %Y' }}</time> to <time datetime="{{ site.time | date: '%Y-%m-%d' }}">{{ job.data.dates.end }}</time></p>
                                {% else %}
                                <p class="datetime"><time datetime="{{ job.data.dates.start | date: '%Y-%m-%d' }}">{{ job.data.dates.start | date: '%B %Y' }}</time> to <time datetime="{{ job.data.dates.end | date: '%Y-%m-%d' }}">{{ job.data.dates.end | date: '%B %Y' }}</time></p>
                                {% endif %}
                            </div>
                        </li>
                    {% if forloop.last %}
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </section>
        {% endfor %}
    </section>
</article>