---
layout: default
---

<main id="content" class="container">

	<article id="post-content" class="{{ collection }} h-entry">
			<header class="{{ collection }} post-title">
                {% include "components/header/{{ collection }}.html" %}
			</header>
			            
			<section class="post-body e-content">
				{{ content }}
                
                {% for posse in page.posse %}
				<a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
				{% endfor %}
			</section>
	</article>
    
    {% include "components/webmentions/blogpost.html" %}
    
    {% include "components/footer/post.html" %}

</main>


