---
layout: default
---

<article id="post-content" class="collection--{{ collection }} h-entry">
	<header class="grid collection--{{ collection }} post-title">
        {% if object %}
            {% include "components/header/object.html" %}
        {% else %}
            {% include "components/header/{{ collection }}.html" %}
        {% endif %}
        
        {% if composite %}
            {% include "components/images/composite.html" %}
        {% endif %}
	</header>
    
	            
	<section class="grid post-body e-content">
		{{ content
            | replace: '<ul>', '<ul class="list">' }}
        
        {% if collection == 'photo' %}
            {% include "components/footer/exif.html" %}
        {% endif %}
        
        {% if eurovision-entries %}
            {% include 'components/body/eurovision/toggles.html' %}
            {% include 'components/body/eurovision/entries.html' %}
            {% include 'components/body/eurovision/sum-up.html' %}
            <script type="text/javascript" src="{{ siteUrl | append: '/scripts/blog/eurovision.js' }}" async></script>
        {% endif %}
        
        {% for posse in posse %}
		<a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
		{% endfor %}
	</section>
</article>

{% include "components/webmentions/blogpost.html" %}

{% include "components/footer/post.html" %}



