---
layout: default
---

<article id="post-content" class="{{ collection }} h-entry">

    <header class="post-title {{ collection }}">
        {% include "components/header/{{ collection }}.html" %}
    </header>
    
    {% if composite %}
        {% include "components/images/composite.html" %}
    {% endif %}
    
    <section class="post-body e-content">
        
        {{ content }}
        
            <h2>The entries</h2>
        
            <fieldset id="toggle-esc-entries" class="radios card">
            
                <legend>Toggle entries</legend>
            
                <div class="radio-input">
                <input type="radio" name="toggle-esc-entries" id="esc-all" value="all" checked>
                <label for="esc-all">All entries</label>
                </div>
            
                <div class="radio-input">
                <input type="radio" name="toggle-esc-entries" id="esc-sf1" value="sf1">
                <label for="esc-sf1">Semi-final one</label>
                </div>
            
                <div class="radio-input">
                <input type="radio" name="toggle-esc-entries" id="esc-sf2" value="sf2">
                <label for="esc-sf2">Semi-final two</label>
                </div>
            
                <div class="radio-input">
                <input type="radio" name="toggle-esc-entries" id="esc-final" value="final">
                <label for="esc-final">Grand final</label>
                </div>
            
            </fieldset>
        
        </div>
        
        <div id="esc-entries" data-show="all">
        {% assign entries = eurovision-entries | sort: "country" %}
        {% for entry in entries %}
            <article id="{{ entry.country | slugify }}" class="h-entry eurovision card" data-semifinal="{{ entry.semifinal }}" data-final="{{ entry.final }}">
                
                <header class="esc-header">
                    {% include "components/eurovision/{{ entry.country | downcase | replace: ' ', '-' }}.svg" %}
                
                    {% if entry.youtube -%}<a class="no-underline" href="{{ entry.youtube | prepend: 'https://www.youtube.com/watch?v=' }}" title="Watch {{ entry.country }}'s entry to the Eurovision Song Contest – {{ entry.song }} by {{ entry.artist }} on YouTube">{%- endif %}
                        <h3>{{ entry.country }}</h3>
                        <p class="small"><strong>{{ entry.song }}</strong> by <strong>{{ entry.artist }}</strong></p>
                    {% if entry.youtube -%}</a>{%- endif %}
                </header>
                
                <section class="esc-body e-content">                    
                    {{ entry.commentary | markdownify }}
                </section>
                    
            </article>
        {% endfor %}
        </div>
        
        {% if page.summing-up %}
        <div class="container">
        <h2>Summing up</h2>
        {{ page.summing-up }}
        </div>
        {% endif %}
        
        {% for posse in page.posse %}
        <a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
        {% endfor %}
        
    </section>

</article>

{% include "components/webmentions/blogpost.html" %}

{% include "components/footer/post.html" %}

<script type="text/javascript" src="{{ siteUrl | append: '/assets/scripts/blog/eurovision.js' }}" async></script>