---
layout: "default.html"
---

<div class="text">
    <h1 class="display page-title">Oops!</h1>

    <p>Well, this is a bit embarrassing. The page you're looking for either doesn't exist or it's lost.</p>
    
    <span id="referrer-message"></span>
    
    <p><a href="/" title="Go home" class="button">Go to the home page</a></p>
    
</div>

<div class="image">
    {% include 'components/objects/error.svg' %}
</div>

<script>
function handleReferrerMessage() {
    const referrer = document.referrer;
    const messageDiv = document.getElementById('referrer-message');

    // Determine the message
    const isInternal = referrer.includes('johnpe.art');

    // Create message element
    const msgElem = document.createElement('p');

    // Create email link
    const emailLink = document.createElement('a');
    const subject = encodeURIComponent('404 error report');
    const body = encodeURIComponent(`Hi John.
        
There's a broken link to your website.
    
Referrer URL: ${referrer}
`);
    emailLink.href = `mailto:error@johnpe.art?subject=${subject}&body=${body}`;
    emailLink.textContent = 'Email me about this error';
    emailLink.className = 'button';

    // Nest <a> inside <p>
    msgElem.appendChild(emailLink);

    // Append to DOM
    messageDiv.appendChild(msgElem);
}

// Call the function after the DOM is loaded
document.addEventListener('DOMContentLoaded', handleReferrerMessage);
</script>