---
layout: default

filters:
    game:
    - title: "All games"
      link: /games/
    - title: "PlayStation"
      link: /games/playstation/
    - title: "Platinums"
      link: /games/playstation/platinums/
    - title: "Switch"
      link: /games/switch/
    - title: "Game Boy"
      link: /games/game-boy/
    - title: "100%"
      link: /games/100/
    - title: "iOS"
      link: /games/ios/
    - title: "PC"
      link: /games/pc/
---

<section id="page-content" class="grid h-entry e-content">

    <h1 class="page-title p-name">{{ title }}</h1>
        
    {% if collection == "game" %}
    <nav class="toggles">
        <ul class="toggles">
        {% for filter in filters[collection] %}
            <li>
                <a href="{{ filter.link }}" class="toggle {% if filter.link == page.url %}active{% endif %}">
                    {{ filter.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
    {% endif %}

    <ul class="gallery gallery-{{ size | default: '4' }}">

    {% if platform and trophy %}
        {% assign posts = collections[collection] | where: "data.object.platform", platform | where: "data.object.trophy", trophy %}
    {% elsif trophy %}
        {% assign posts = collections[collection] | where: "data.object.trophy", trophy %}
    {% elsif platform %}
        {% assign posts = collections[collection] | where: "data.object.platform", platform %}
    {% else %}
        {% assign posts = collections[collection] %}
    {% endif %}
    {% for post in posts %}
        <li class="{{ collection }} gallery-item object--{{ post.data.object.type | downcase | slugify }}">
            <article>
                <a href="{{ post.url }}" title="Read {{ post.data.title }}" class="gallery-link">
                    {% if collection == 'game' %}
                        {% include "components/objects/{{ post.data.object.platform | downcase | slugify }}.svg" %}
                    {% elsif collection == 'music' %}
                        {% include "components/objects/ipod-nano.svg" %}
                    {% elsif collection == 'photo' %}
                        {% include "components/objects/polaroid.svg" %}
                    {% elsif post.data.image %}
                        <div class="polaroid">
                            <img src="{{ siteUrl | append: '/images' | append: post.data.image }}" loading="lazy">
                            <h1 class="photo--title p-name">{{ post.data.title }}</h1>
                        </div>
                    {% endif %}
                </a>
            </article>
        </li>
    {% endfor %}
    
    </ul>

</section>