---
layout: gallery
container: false
---

<ul class="gallery gallery-4">
{% assign posts = collections[collection] %}
{% for post in posts %}
	<li>
		<article class="game--{{ post.data.platform | downcase | slugify }}">
            <a href="{{ post.url }}" class="game--link" title="Read {{ post.data.title }}">
                {% if post.data.platform contains "PlayStation" %}
                {% include "components/objects/cd-rom.svg" %}    
                {% else %}
                {% include "components/objects/gamepak.svg" %}    
                {% endif %}
            </a>
		</article>
	</li>
{% endfor %}
</ul>