---
layout: default
---
<section id="page-content">

	<h1 class="page-title">Goals</h1>

    {{ content }}

	{% assign years = collections.goal | sort %}
	{% for goals in years %}

		{% assign totalgoalmax = 0 %}
		{% assign totalgoalprogress = 0 %}
		{% assign goalno = 0 %}
		{% assign totalgoalpercentage = 0 %}

		{% for goal in goals.data.goals %}
			{% assign goalno = goalno | plus: 1 %}
			{% assign goalvalue = goal.progress | divided_by: goal.max | times: 100 %}
			{% assign totalgoalmax = totalgoalmax | plus: goal.max | floor %}
			{% assign totalgoalprogress = totalgoalprogress | plus: goal.progress %}
			{% if goalvalue >= 80 %}
				{% assign totalgoalpercentage = totalgoalpercentage | plus: 100 | floor %}
			{% else %}
				{% assign totalgoalpercentage = totalgoalpercentage | plus: goalvalue | floor %}
			{% endif %}
		{% endfor %}

        {% assign goalno = goalno | times: 1.0 | at_least: 1 %}
        {% assign totalgoalpercentage = totalgoalpercentage | times: 1.0 | at_least: 0 %}
        {% assign averagegoalpercentage = totalgoalpercentage | divided_by: goalno | at_least: 0 | round %}
        
		<article class="key-value--item key-value--with-value key-value--with-description">
			<a class="key-value--link" href="{{ goals.url }}" title="See goals for the year {{ goals.data.year }}">
                <h2 class="key-value--key">{{ goals.data.year }}</h2>
                
                <p class="key-value--value small-text">{{ averagegoalpercentage }}% of {{ goalno | remove: ".0" }} goals</p>
                
                <progress class="goal-progress standard" max="100" value="{{ averagegoalpercentage }}">
                    <p><strong>{{ averagegoalpercentage }}% of goals completed (each goal given equal weighting)</strong></p>
                </progress>
            </a>
		</article>

	{% endfor %}
</section>