---
layout: default
---

{% assign totalgoalmax = 0 %}
{% assign totalgoalprogress = 0 %}
{% assign goalno = 0 %}
{% assign totalgoalpercentage = 0 %}
{% assign dayoftheyear = "now" | date: "%j" | plus: 0 %}
{% assign currentyear = "now" | date: "%Y" | plus: 0 %}

{% if year %}
{% assign goalstitle = year %}
{% else %}
{% assign goalstitle = currentyear %}
{% endif %}

<section id="page-content">

	<header class="goals-title">
		<h1 class="page-title">{{ goalstitle }}</h1>
	</header>

    {{ content }}

	<ul class="key-value">

	{% for goal in goals %}

		{% assign goalno = goalno | plus: 1 %}

		<li class="key-value--item key-value--item--goal">

			<h2 class="key-value--key">{{ goal.title }}</h2>
            
            <p class="key-value--value">{{ goal.description }}</p>
            
			{% if goal.progress >= goal.max and goal.stretch  %}
            <div class="key-value--progress progress--stretch">
				<progress class="goal-progress goal-progress--core" max="{{ goal.max }}" value="{{ goal.progress }}">
					<p><strong>{{ goal.progress | remove: ".0" }}</strong> out of an initial goal of <strong>{{ goal.max | remove: ".0" }}</strong></p>
				</progress>
				<progress class="goal-progress goal-progress--stretch" max="{{ goal.stretch }}" value="{{ goal.progress | minus: goal.max | at_least: 0 }}">
					<p><strong>{{ goal.progress | minus: goal.max | remove: ".0" | at_least: 0 }}</strong> out of a stretch goal of <strong>{{ goal.stretch | remove: ".0" }}</strong></p>
				</progress>
            </div>
			{% else %}
            <div class="key-value--progress">
				<progress class="goal-progress" max="{{ goal.max }}" value="{{ goal.progress }}">
					<p><strong>{{ goal.progress | remove: ".0" }}</strong> out of <strong>{{ goal.max | remove: ".0" }}</strong></p>
				</progress>
			{% endif %}
            </div>
		</li>

		{% assign goalvalue = goal.progress | divided_by: goal.max | times: 100 %}
		{% assign totalgoalmax = totalgoalmax | plus: goal.max | floor %}
		{% assign totalgoalprogress = totalgoalprogress | plus: goal.progress %}
		{% if goalvalue >= 80 %}
			{% assign totalgoalpercentage = totalgoalpercentage | plus: 100 | floor %}
		{% else %}
			{% assign totalgoalpercentage = totalgoalpercentage | plus: goalvalue | floor %}
		{% endif %}

	{% endfor %}

		{% assign goalno = goalno | times: 1.0 | at_least: 1 %}
		{% assign totalgoalpercentage = totalgoalpercentage | times: 1.0 | at_least: 0 %}
		{% assign averagegoalpercentage = totalgoalpercentage | divided_by: goalno | at_least: 0 | round %}
		<li class="key-value--item key-value--goal totaliser card">
			<h2 class="key-value--key">Overall progress</h2>
            <p class="key-value--value">{{ averagegoalpercentage }}%</p>
			<progress class="goal-progress full-span" max="100" value="{{ averagegoalpercentage }}">
				<p><strong>{{ averagegoalpercentage }}% of goals completed (each goal given equal weighting)</strong></p>
			</progress>
            <p class="key-value--value full-span">Each goal given equal weighting</p>
		</li>

	</ul>

</section>