---
layout: page
---

{% if collection %}

    {% if sort_by %}
        {% assign collection = collections[collection] | sort: sort_by %}
    {% else %}
        {% assign collection = collections[collection] %}
    {% endif %}
    
    <ul class="key-value key-value--items--with-content">
        {% for item in collection %}
        <li class="key-value--item">
            {% if item.data.link %}
                {% assign link = item.data.link %}
                {% assign alt = item.data.alt %}
            {% else %}
                {% assign link = item.data.url %}
            {% endif %}
            {% if item.data.link %}<a class="key-value--link" href="{{ link }}" {% if alt %}title="{{ alt }}"{% endif %}>{% endif %}
            
            
            <h2 class="key-value--key">{{ item.data.title | default: "No title" }}</h2>
            
            {% if item.data.excerpt %}
            {{ item.data.excerpt | markdownify | replace: '<p>', '<p class="key-value--description">' }}
            {% elsif item.content %}
            {{ item.content | markdownify | replace: '<p>', '<p class="key-value--description">' }}
            {% endif %}
            
            {% if item.data.link %}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>

{% else %}

    {% for item in list %}
        <header>
            <h2 id="{{ item.name | slugify }}" class="key-value--heading">{{ item.name }}</h2>
            {% if item.description %}{{ item.description | markdownify }}{% endif %}
        </header>
        <ul class="key-value">
            {% for item in item.items %}
            
            {% assign href = item.link.internal | default: item.link.external %}
            {% if item.collection %}
                {% assign key-value--value = collections[item.collection] | size | append: ' posts' %}
            {% else %}
                {% assign key-value--value = item.price | default: item.status | default: item.label %}
            {% endif %}
            {% assign key-value--description = item.description %}
            
            <li class="key-value--item
                {%- if key-value--value %} key-value--with-value{% endif %} 
                {%- if key-value--description %} key-value--with-description{% endif %}">
                {% if href %}
                <a class="key-value--link" href="{{ href }}"{% if item.link.external %} target="_blank" rel="noopener noreferrer"{% endif %}>
                {% endif %}
                    <h3 id="{{ item.name | slugify }}" class="key-value--key">{{ item.name }}</h3>
                    {% if key-value--value %}
                        {{ key-value--value | markdownify | replace: '<p>', '<p class="key-value--value small-text">' }}
                    {% endif %}
                    {% if key-value--description %}
                        <div class="key-value--description">
                            {{ key-value--description | markdownify }}
                        </div>
                    {% endif %}
                {% if item.link %}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endif %}