---
layout: page
---

{{ content }}

{% if collection %}

    {% if sort_by %}
        {% assign collection = collections[collection] | sort: sort_by %}
    {% else %}
        {% assign collection = collections[collection] %}
    {% endif %}
    
    <section>
        <ul class="key-value">
            {% for item in collection %}
            <li class="key-value--item">
                {% if item.data.link %}
                    {% assign link = item.data.link %}
                    {% assign alt = item.data.alt %}
                {% else %}
                    {% assign link = item.data.url %}
                {% endif %}
                {% if item.data.link %}<a class="key-value--link" href="{{ link }}" {% if alt %}title="{{ alt }}"{% endif %}>{% endif %}
                
                
                <h2 class="key-value--key">{{ item.data.title | default: "No title" }}</h2>
                
                {% if item.data.excerpt %}
                {{ item.data.excerpt | markdownify | replace: '<p>', '<p class="key-value--description">' }}
                {% elsif item.content %}
                {{ item.content | markdownify | replace: '<p>', '<p class="key-value--description">' }}
                {% endif %}
                
                {% if item.data.link %}</a>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>

{% else %}

    {% for item in list %}
    <section id="{{ item.name | slugify }}">
        <header class="key-value--header">
            <h2 class="key-value--heading">{{ item.name }}</h2>
            {% if item.description %}{{ item.description | markdownify }}{% endif %}
        </header>
        <ul class="key-value">
            {% for key in item.items %}
            
            {% assign href = key.link.internal | default: key.link.external %}
            {% if key.collection %}
                {% assign key-value--value = collections[key.collection] | size | append: ' posts' %}
            {% else %}
                {% assign key-value--value = key.price | default: key.status | default: key.label %}
            {% endif %}
            {% assign key-value--description = key.description %}
            
            <li class="key-value--item
                {%- if key-value--value %} key-value--with-value{% endif %} 
                {%- if key-value--description %} key-value--with-description{% endif %}">
                {% if href %}
                <a class="key-value--link" href="{{ href }}"{% if key.link.external %} target="_blank" {% unless list.refer == false %}rel="noopener noreferrer"{% endunless %}{% endif %}>
                {% endif %}
                    <p id="{{ key.name | slugify }}" class="key-value--key">{{ key.name }}</p>
                    {% if key-value--value %}
                        {{ key-value--value | markdownify | replace: '<p>', '<p class="key-value--value small-text secondary-text">' }}
                    {% endif %}
                    {% if key-value--description %}
                        <div class="key-value--description">
                            {{ key-value--description | markdownify }}
                        </div>
                    {% endif %}
                {% if key.link %}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}

{% endif %}