---
layout: "page"
---

{{ content }}

<section class="collection--list">
{% for item in list %}
    <header>
        <h2 id="{{ item.name | slugify }}" class="collection--list--group-title">{{ item.name }}</h2>
        {% if item.description %}{{ item.description | markdownify }}{% endif %}
    </header>
    {% for item in item.items %}
    <article class="collection--list-item {% if item.price or item.link.buy or item.status %}collection--list-item--with-meta{% endif %}">
        <div class="collection--list-item--content">
            <h3 id="{{ item.name | slugify }}" class="collection--list--item-title">{% if item.link.post %}<a href="{{ item.link.post }}">{% endif %}{{ item.name }}{% if item.link.post %}</a>{% endif %}</h3>
            {% if item.description %}{{ item.description | markdownify | replace: '<p>', '<p class="secondary-text">' }}{% endif %}
        </div>
        {% if item.price or item.link.buy or item.status %}
        <aside class="item-metadata">
            {% if item.price and item.link.buy %}
                <p class="item-price"><a href="{{ item.link.buy }}" class="item-link no-underline emphasised-link" target="_blank" rel="noopener noreferrer">{{ item.price }}</a></p>
            {% elsif item.price %}
                <p class="item-price">{{ item.price }}</p>
            {% elsif item.link.buy %}
                <p><a href="{{ item.link.buy }}" class="item-link no-underline emphasised-link" target="_blank" rel="noopener noreferrer">Buy</a></p>
            {% elsif item.status %}
                <p class="item-status secondary-text">{{ item.status }}</p>
            {% endif %}
		</aside>
        {% endif %}
    </article>
    {% endfor %}
{% endfor %}
</section>