---
layout: default
---

<nav id="page-content" class="navigation--menu">
    
    <h2 class="key-value--heading">Me</h2>
    <ul class="key-value">

        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/about/">
                <span class="key-value--key">About</span>
                <span class="key-value--value">Me</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/ideas/">
                <span class="key-value--key">Ideas</span>
                <span class="key-value--value">💡</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/now/">
                <span class="key-value--key">Now</span>
                <span class="key-value--value">What's new?</span>
            </a>
        </li>
        
    </ul>
    
    <h2 class="key-value--heading">My blog</h2>
    <ul class="key-value">

        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/all/">
                <span class="key-value--key">All posts</span>
                <span class="key-value--value">{{ collections.allPosts | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/blogposts/">
                <span class="key-value--key">Blog posts</span>
                <span class="key-value--value">{{ collections.blogpost | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/weeknotes/">
                <span class="key-value--key">Weeknotes</span>
                <span class="key-value--value">{{ collections.weeknote | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/notes/">
                <span class="key-value--key">Notes</span>
                <span class="key-value--value">{{ collections.note | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/lists/">
                <span class="key-value--key">Lists</span>
                <span class="key-value--value">{{ collections.list | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/photos/">
                <span class="key-value--key">Photos</span>
                <span class="key-value--value">{{ collections.photo | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/music/">
                <span class="key-value--key">Music</span>
                <span class="key-value--value">{{ collections.music | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/games/">
                <span class="key-value--key">Games</span>
                <span class="key-value--value">{{ collections.game | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/replies/">
                <span class="key-value--key">Replies</span>
                <span class="key-value--value">{{ collections.reply | size }} posts</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/reposts/">
                <span class="key-value--key">Reposts</span>
                <span class="key-value--value">{{ collections.share | size }} posts</span>
            </a>
        </li>
        
    </ul>
    
    <h2 class="key-value--heading">Subscribe</h2>
    <ul class="key-value">

        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/feeds/">
                <span class="key-value--key">RSS feeds</span>
                <span class="key-value--value">10 feeds</span>
            </a>
        </li>

    </ul>
    
    <h2 class="key-value--heading">Other</h2>
    <ul class="key-value">

        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/goals/">
                <span class="key-value--key">Goals</span>
                <span class="key-value--value">🎯</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="/wishlist/">
                <span class="key-value--key">Wishlist</span>
                <span class="key-value--value">🛒</span>
            </a>
        </li>

    </ul>
    
    <h2 class="key-value--heading">Elsewhere</h2>
    <ul class="key-value">

        <li class="key-value--item">
            <a class="key-value--link no-underline" href="https://mastodon.social/@johnpeart">
                <span class="key-value--key">Mastodon</span>
                <span class="key-value--value">@johnpeart@mastodon.social</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="https://bsky.app/profile/johnpe.art">
                <span class="key-value--key">Bluesky</span>
                <span class="key-value--value">@johnpe.art</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="https://linkedin.com/in/jrpeart">
                <span class="key-value--key">LinkedIn</span>
                <span class="key-value--value">@jrpeart</span>
            </a>
        </li>
        <li class="key-value--item">
            <a class="key-value--link no-underline" href="https://github.com/johnpeart">
                <span class="key-value--key">Github</span>
                <span class="key-value--value">@johnpeart</span>
            </a>
        </li>
        
    </ul>

</nav>