---
layout: default
object:
    type: "calendar-now"
---

{% assign collection = collections.now | sort: date %}

{% for item in collection limit: 1 %}
<article id="post-content" class="collection--now h-entry">
    
	<header class="grid collection--now post-title">
        {% include 'components/header/object.html' %}
    </header>
    
    <section class="grid post-body e-content">	
        {{ item.content }}
        
        {% for posse in page.posse %}
        <a rel="syndication" class="u-syndication" href="{{ posse }}"></a>
        {% endfor %}
    </section>

</article>
{% endfor %}

<footer class="grid padding-top" style="background-position: top; --mult: 2;">

    <aside id="related" class="card margin-top margin-bottom" style="--mult: 1;">
    {% for item in collection offset: 1 %}
        {% if forloop.first %}
    <h1 class="key-value--heading key-value--heading--small">Previously</h1>
        <ul class="related-posts key-value">
        {% endif %}
            <li class="key-value--item">
                <a class="key-value--link" href="{{ item.url }}" title="Read {{ item.date | date: '%B %Y' }}">
                    <p class="key-value--key p-name">
                        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
                            {{ item.date | date: '%B %Y' }}
                        </time>
                    </p>
                    {% if item.data.excerpt %}
                    {{ item.data.excerpt | markdownify | replace: '<p>', '<p class="key-value--description">' }}
                    {% endif %}
                </a>
            </li>
        {% if forloop.last %}
        </ul>
        {% endif %}
    {% endfor %}

</footer>