---
---
{% comment %}
    This template generates HTML to display as an Opengraph image of 1200px width by 630px height.
    The HTML page is used by the Eleventy API to generate a screenshot, as set out here:
    https://www.11ty.dev/docs/services/opengraph/
    
    This template does not generate at run time - it uses client side Javascript to produce dynamic content.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta name="robots" content="noindex,nofollow" />
        
        <!-- Hot load -->
        <link rel="preconnect" href="{{ siteUrl }}" />
        <link rel="preload" as="style" href="{{ siteUrl | append: '/styles/opengraph.css' }}">
        <link rel="subresource" as="style" href="{{ siteUrl | append: '/styles/opengraph.css' }}">
        
        <link rel="preload" href="/assets/fonts/regular.woff" as="font" />
        <link rel="preload" href="/assets/fonts/bold.woff" as="font" />
        
    	<link rel="stylesheet" href="/styles/opengraph.css">
    </head>

    <body>
        <div id="opengraph" class="">        
            <div id="og-site">
                John Peart
            </div>
            <div id="og-default-image">
                <img id="image" src="/images/me/me.svg">
            </div>
            <div id="og-image">

            </div>
            <div id="og-title">
                <h1 class="title">Hello.</h1>
            </div>
            <div id="og-object">
                <div id="game-boy">
                    {% include 'components/objects/game-boy.svg' %}
                </div>
                <div id="calendar-weeknotes">
                    {% include 'components/objects/calendar-weeknotes.svg' %}
                </div>
                <div id="calendar-now">
                    {% include 'components/objects/calendar-now.svg' %}
                </div>
                <div id="ios">
                    {% include 'components/objects/ios.svg' %}
                </div>
                <div id="ipod-nano">
                    {% include 'components/objects/ipod-nano.svg' %}
                </div>
                <div id="polaroid">
                    {% include 'components/objects/polaroid.svg' %}
                </div>
            </div>
            <div id="og-collection">
                
            </div>
        </div>
        
        <script>
            const params = new URLSearchParams(window.location.search);
        
            const layout = params.get('layout');
            const object = params.get('object');
            const image = params.get('image');
            const title = params.get('title');
            const titleClass = params.get('title-class');
            const day = params.get('day');
            const month = params.get('month');
        
            // Set layout class
            document.getElementById('opengraph').className = `og-layout--${layout}`;
            
            const colors = ['--blue', '--red', '--green', '--cyan', '--yellow', '--orange', '--purple'];
            const randomColorVar = colors[Math.floor(Math.random() * colors.length)];
            const randomColor = getComputedStyle(document.documentElement).getPropertyValue(randomColorVar).trim();
            
            if (layout == 'default') {
                document.getElementById('og-object').remove();
                document.getElementById('og-collection').remove();
                document.getElementById('og-image').remove();
                document.querySelector('.title').classList.add('title--large');
            } else if (layout == 'with-title') {
                document.getElementById('og-image').remove();
                document.getElementById('og-default-image').remove();
                document.getElementById('og-object').remove();
                document.getElementById('og-collection').remove();
                document.querySelector('.title').textContent = title;
                
                if (titleClass) { 
                    document.querySelector('.title').classList.add(titleClass);
                }
            } else if (layout == 'with-image') {
                document.getElementById('og-title').remove();
                document.getElementById('og-default-image').remove();
                document.getElementById('og-object').remove();
                document.getElementById('og-collection').remove();
                
                // Set image background
                ogImage = document.getElementById('og-image');
                ogImage.style.backgroundImage = `url(${image})`;
                ogImage.style.backgroundSize = '95% 95%';
                ogImage.style.backgroundRepeat = 'no-repeat';
                ogImage.style.backgroundPosition = 'center';
                ogImage.style.backgroundColor = randomColor;

            } else if (layout == 'with-object') {
                document.getElementById('og-title').remove();
                document.getElementById('og-default-image').remove();
                document.getElementById('og-image').remove();
                document.getElementById('og-collection').remove();
                document.getElementById("og-object").style.backgroundColor = randomColor;
                
                // Select all divs that match possible object classes
                const ids = ['game-boy', 'ios', 'ipod-nano', 'polaroid', 'calendar-now', 'calendar-weeknotes'];
                // Loop through and remove divs that don't match
                ids.forEach(id => {
                  if (id !== object) {
                    const el = document.getElementById(id);
                    if (el) el.remove();
                  }
                });
                if (['game-boy', 'ios', 'polaroid', 'ipod-nano'].includes(object)) {
                    document.getElementById('opengraphImage').setAttribute('href', image);
                } else if (['calendar-now', 'calendar-weeknotes'].includes(object)) {
                    document.getElementById('calendar-day').textContent = day;
                    document.getElementById('calendar-month').textContent = month;
                }
            }
        </script>
    </body>
    
</html>
