---
layout: default
---

<main id="content" class="container">

    <article id="post-content" class="reply h-entry">

        <aside class="published-date">
	        <time datetime="{{page.date | date: '%Y-%m-%d'}}" class="published-datetime dt-published">
		        <a href="{{ page.url }}" class="u-url post-published-date">
			        {{ page.date | date: "%-d %B %Y" }}
		        </a>
	        </time>
        </aside>
        <h1 class="post-title p-name">Reply to {{ reply_to.author.name }}</h1>
        
        {% include "components/reply/from-them.html" %}
        {% include "components/reply/from-me.html" %}

        {% include "components/webmentions/in-reply-to.html" %}

	</section>

</main>