---
layout: default
---

<main id="content" class="container">

	<section id="page-content">

		<h1 class="page-title">Wishlist</h1>

		<aside class="intro-text">

			{{ content }}

		</aside>
        
		{% for list in wishlist %}

		<section>

			<header>
				<h2 class="wishlist-header wishlist-{{ list.name | slugify }}">
					{{ list.name }}
				</h2>
			</header>

			<ul class="wishlist">
			{% for item in list.items %}
				<li class="wishlist-item">
					<div class="item-info">
						<p class="item-name">{% if item.link %}<a href="{{ item.link }}" class="item-link" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</p>
						{% if item.description %}
						{{ item.description }}
						{% endif %}
					</div>
					<aside class="item-metadata">
						<span class="item-price">{{ item.price }}</span>
					</aside>
				</li>
			{% endfor %}
			</ul>

		</section>


		{% endfor %}

	</section>

</main>
