---
layout: default
---

<main id="content" class="container">

	<section id="page-content">

		<h1 class="page-title">Wishlist</h1>

		<aside class="intro-text">

			{{ content }}

		</aside>

		{% assign wishlists = collections.wishlist | group_by: 'data.list' | sort: 'name' %}
		{% for wishlist in wishlists %}

		<section>

			<header>
				<h2 class="wishlist-header wishlist-{{ list.name | slugify }}">
					{{ wishlist.name }}
				</h2>
			</header>

			<ul class="wishlist">
			{% for item in wishlist.items %}
				{% if item.data.purchased == false %}
				<li class="wishlist-item">
					<div class="item-info">
						<p class="item-name">{% if item.data.link %}<a href="{{ item.data.link }}" class="item-link" target="_blank" rel="noopener noreferrer">{{ item.data.name }}</a>{% else %}{{ item.data.name }}{% endif %}</p>
						{% assign content = item.content | strip_newlines %}
						{% if content != "" %}
						{{ content }}
						{% endif %}
					</div>
					<aside class="item-metadata">
						{% if item.data.price == 0.00 %}
						<span class="item-price">Varies</span>
						{% else %}
						<span class="item-price">{{ item.data.price | round | prepend: "£" }}</span>
						{% endif %}
					</aside>
				</li>
				{% endif %}

			{% endfor %}
			</ul>

		</section>


		{% endfor %}

	</section>

</main>
