a {
    cursor: pointer;
    font-weight: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;
    
    &:link,
	&:visited {
        color: var(--color);
		text-decoration: underline;
    }
    &:hover {
        color: var(--brand);
        text-decoration: underline;
    }
    &:focus {
        color: var(--color--inverse);
        background: var(--brand);
        outline: 3px solid var(--brand);
        outline-offset: 0px;
        text-decoration: none;
    }
    &:focus:hover {
        outline-offset: 3px;
    }
    &:active {
        text-decoration: none !important;
        outline: 3px solid var(--brand);
        outline-offset: 3px;
        background: var(--brand);
        color: var(--background);
        svg { 
            color: var(--background) !important; 
            fill: var(--button-activeColor);
        }
    }
    
    &.link-secondary,
    &.post-published-date {
        &:link,
        &:visited {
            color: var(--secondary-color);
            text-decoration: none;
        }
        &:hover {
            color: var(--brand);
            text-decoration: underline;
        }
        &:hover:focus,
        &:focus {
            text-decoration: underline;
            outline: 3px solid var(--brand);
            color: light-dark(var(--white), var(--black));
            background: var(--brand);
        }
        &:hover:focus {
            outline-offset: 3px;
        }
        &:active {
            text-decoration: none !important;
            background: var(--brand);
            color: var(--background);
        }
    }
    
    &.link-inverse {
        &:link,
        &:visited {
            color: var(--color--inverse);
            text-decoration: none;
        }
        &:hover {
            color: var(--brand);
            text-decoration: underline;
        }
        &:hover:focus,
        &:focus {
            text-decoration: underline;
            outline: 3px solid var(--brand);
            color: light-dark(var(--white), var(--black));
            background: var(--brand);
        }
        &:hover:focus {
            outline-offset: 3px;
        }
        &:active {
            text-decoration: none !important;
            background: var(--brand);
            color: var(--background);
        }
    }
    
    &.no-underline {
        &:link,
        &:visited {
            text-decoration: none !important;
        }
        &:hover {
            text-decoration: underline !important;
        }
        &:focus {
            color: light-dark(var(--white), var(--black));
            background: var(--brand);
            outline: 2px solid var(--brand);
        }
        &:active {
            text-decoration: none !important;
        }
    }
	
    &.dark-link {
        &:link,
        &:visited,
        &:hover {
            color: var(--black);
        }
    }
	
	&.block-link:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
    
    &.gallery-link {
        display: inline-block;
        
        &:hover h1 {
            text-decoration: underline !important;
            text-decoration-skip-ink: none;
        }
        &:active h1 {
            text-decoration: none !important;
            color: var(--brand) !important;
        }
    }
    
    &.speech-bubble {  
        &:link,  
        &:visited {
            color: var(--speechBubble-linkColor);
        }
        &:hover {
            color: var(--speechBubble-linkColor-hover);
        }
        &:focus,
        &:active {
            color: var(--speechBubble-linkColor-focus);
            background: var(--speechBubble-linkBackground);
        }
    }
    
    &.speech-bubble--link--eurovision {
        display: inline-block;
        
        &:hover,
        &:focus,
        &:active {
            background: none;
            outline: none;
        }
        
        &:hover * {
            text-decoration: underline;
        }
        
        &:focus img {
            outline: 3px solid var(--brand);
            outline-offset: 3px;
        }
        
        &:focus *,
        &:active * {
            --speechBubble-background: var(--brand);
            color: var(--background) !important;
            text-decoration: underline;
        }
        
        &:active * {
            text-decoration: none;
        }
    }
}
